@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    Item overViewPage = Sitecore.Context.Database.GetItem(ItemGuids.OverviewPage);
    Item valetParkingPage = Sitecore.Context.Database.GetItem(ItemGuids.ValetParkingPage);
}

<div class="container">
    @Html.Sitecore().Placeholder("page-title")
    <div class="gd-exclusive">
        <div class="row">
            <div class="col-sm-6 gd-full-img">
                <img data-src="@Html.Sitecore().ImageFieldSrc("Service Image", Sitecore.Context.Item)">
            </div>
            <div class="col-sm-6">
                <div class="gd-content-details">
                    <h3>@Html.Sitecore().Field("Service Title")</h3>
                    @Html.Sitecore().Field("Service Content")
                    <hr>
                    <h4>CONCIERGE DESKS OPENING HOURS</h4>
                    <div class="table-responsive">
                        <table>
                            <tbody>
                                <tr>
                                    <th>LANDMARK CHATER</th>
                                    <td>10am-7:30pm daily</td>
                                </tr>
                                <tr>
                                    <th>LANDMARK PRINCE'S (G/F)</th>
                                    <td>10am-7:30pm daily</td>
                                </tr>
                                <tr>
                                    <th>LANDMARK PRINCE'S (G/F)</th>
                                    <td>10am-7:30pm daily</td>
                                </tr>
                                <tr>
                                    <th>LANDMARK PRINCE'S (G/F)</th>
                                    <td>10am-7:30pm daily</td>
                                </tr>
                                <tr>
                                    <th>LANDMARK PRINCE'S (G/F)</th>
                                    <td>10am-7:30pm daily</td>
                                </tr>
                                <tr>
                                    <th>LANDMARK PRINCE'S (G/F)</th>
                                    <td>10am-7:30pm daily</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>