@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    ArtTourHelper helper = new ArtTourHelper();
    var model = helper.GetFirstArtPieceModel();
}
<div class="art-gallery">
    <div class="row" id="gd-art-gallery">
        <article>
            <a href="/en/t29.html" class="gd-hover-img"><div class="gd-hover-img-mask"></div><img data-src="../files/landmark/images/arttour/arttour-pic-01.jpg" alt="artpiece picture"></a>
            <h5>DAWN, 2013</h5>
            <p>Oil on canvas 360 x 280cm</p>
        </article>
        <article>
            <a href="/en/t29-2.html" class="gd-hover-img">
                <div class="gd-hover-img-mask"></div><img data-src="../files/landmark/images/arttour/arttour-pic-02.jpg" alt="artpiece picture">
            </a>
            <h5>MELODY OF CLOUDS, 2013</h5>
            <p>Oil on canvas 360 x 280cm</p>
        </article>
    </div>

    <div class="navigation"><a id="gd-art-gallery-loading" href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item)?page=2" class="loding-more">@Html.Sitecore().Field("Glossary Value", ItemGuids.MoreItem) +</a></div>
</div>
