@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    ArtTourHelper helper = new ArtTourHelper();
    var model = helper.GetFirstArtPieceModel();
}
<div class="art-gallery">
    <div class="row" id="gd-art-gallery">
        <div class="col-sm-6">
            
        </div>
        <div class="col-sm-6">

        </div>
    </div>

    <div class="navigation"><a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item)?page=2" class="gd-artlist-more">@Html.Sitecore().Field("Glossary Value", ItemGuids.MoreItem) +</a></div>
</div>
