@using Landmark.Classes
<div class="panel-layout">
    @Html.Sitecore().Placeholder("t1-slides")
    @Html.Sitecore().Placeholder("t1-panels")
</div>
@Html.Sitecore().Rendering(ItemGuidString.PanelNavRenderingViewGuid,new
{
    DataSource = ItemGuidString.PanelsFolderItemGuid
})