@model RenderingModel
<section class="panel-area">
    <div class="panel-6 clearfix">
        <div class="panel-side1">
            <div class="panel-img" data-bg="/files/landmark/images/product-img/main-004.jpg"></div>
        </div>
        <div class="panel-side2">
            <div class="panel-main">
            <div class="panel-text text-box-1">
            <hgroup class="clearfix"> 
                <h3>BAG FEVER AT CHANEL</h3>
                <h4>SHOP THE LATEST TRENDS</h4>
            </hgroup>
            <div class="panel-content">Generations of families sharing moments and making memories. All part of 208 fine stores and restaurants in 4 connected buildings that go by 1 name, LANDMARK.</div>
            <a class="btn btn-default" href="#">DISCOVER MORE</a>
            </div>
            <a class="panel-link panel-text" href="#">SEE MORE ACCESSORIES<span class="icomoon-chevron-small-right"></span></a>
            </div>
        </div>

    <div class="panel-side3">
        <div class="panel-img" data-bg="/files/landmark/images/product-img/main-005.jpg"></div>
        <div class="panel-main">
            <div class="panel-text text-box-3">
                <hgroup class="clearfix">
                    <h4>EXQUISITE HOME WARE</h4>
                    <h2>CURATED COLLECTIONS</h2>
                </hgroup>
            </div>
        </div>
    </div>
</div>
</section>
