@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel

<div id="directions-panel" class="gd-map-controls">
    <div class="gd-controls-m visible-xs">
        <select class="form-control">
            <option value="0"> DROP OFF POINT </option>
            <option value="1"> TAXI </option>
            <option value="2"> MTR EXITS </option>
            <option value="3"> AIRPORT EXPRESS </option>
            <option value="4"> BUS STATIONS </option>
            <option value="5"> TRAM STOPS </option>
            <option value="6"> WASHROOMS </option>
            <option value="7"> CAR PARK </option>
            <option value="8"> ATM MACHINE </option>
            <option value="9"> ELEVATED WALKWAYS </option>
            <option value="10"> INFO </option>
            <option value="11"> POST OFFICE </option>
            <option value="12"> FERRY </option>
        </select>
    </div>
    <ul id="gd-surroundings" class="list-group gd-list-guide">
        <li data-keyword="DROP OFF" class="list-group-item active"><span id="map-marker-01" class="badge"> </span> DROP OFF POINT</li>
        <li data-keyword="TAXI" class="list-group-item"><span id="map-marker-02" class="badge"> </span> TAXI</li>
        <li data-keyword="MTR" class="list-group-item"><span id="map-marker-03" class="badge"> </span> MTR EXITS</li>
        <li data-keyword="AIRPORT EXPRESS" class="list-group-item"><span id="map-marker-04" class="badge"> </span> AIRPORT EXPRESS</li>
        <li data-keyword="BUS" class="list-group-item"><span id="map-marker-05" class="badge"> </span> BUS STATIONS</li>
        <li data-keyword="TRAM" class="list-group-item"><span id="map-marker-06" class="badge"> </span> TRAM STOPS</li>
        <li data-keyword="WC" class="list-group-item"><span id="map-marker-07" class="badge"> </span> WASHROOMS</li>
        <li data-keyword="CAR PARK" class="list-group-item"><span id="map-marker-08" class="badge"> </span> CAR PARK</li>
        <li data-keyword="ATM" class="list-group-item"><span id="map-marker-09" class="badge"> </span> ATM MACHINE</li>
        <li data-keyword="ELEVATED WALKWAYS" class="list-group-item"><span id="map-marker-10" class="badge"> </span> ELEVATED WALKWAYS</li>
        <li data-keyword="INFO" class="list-group-item"><span id="map-marker-11" class="badge"> </span> INFO</li>
        <li data-keyword="POST OFFICE" class="list-group-item"><span id="map-marker-12" class="badge"> </span> POST OFFICE</li>
        <li data-keyword="FERRY" class="list-group-item"><span id="map-marker-13" class="badge"> </span> FERRY</li>
    </ul>
</div>