@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var artTourPage = Sitecore.Context.Database.GetItem(ItemGuids.LandmarkArtTourItem);

    var relatedArticles = LandmarkHelper.GetRelatedItems();

}
<div id="gd-carousel-info" class="carousel slide gd-carousel-info" data-ride="carousel">
    <div class="carousel-heading">
        <h3>@Html.Sitecore().Field("Glossary Value", SitecoreItems.YouMayAlsoLikeItem)</h3>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-image" data-bgsrc="@Html.Sitecore().ImageFieldSrc("Cover Image", artTourPage)"></div>
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <div class="gd-carousel-detail">
                        <h4>@Html.Sitecore().Field("Page Title", artTourPage)</h4>
                        <p>@Html.Sitecore().Field("Cover Content", artTourPage)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="carousel-image" data-bgsrc="../files/landmark/images/nowatlm/nowatlm-article-01.jpg"></div>
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <div class="gd-carousel-detail">
                        <h4>The iconic Mandarin Oriental, Hong Kong is the epitome of contemporary luxury combined with Oriental heritage.</h4>
                        <p>Having delighted guests with its award-winning service and impressive facilities for nearly 50 years, it is the much loved address for those seeking an exclusive sanctuary in the heart of this exciting metropolis.</p>
                        <button class="gd-button gd-button-white" type="button">DISCOVER MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wrapper for controls -->
    <div class="carousel-footer">
        <div class="gd-carousel-controls clearfix">
            <!-- Controls -->
            <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="prev">
                <span class="icomoon-thin-arrow-L" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <!-- Indicators -->
            <ol class="carousel-indicators gd-carousel-control gd-carousel-no">
                <li data-target="#gd-carousel-info" data-slide-to="0" class="active">1</li>
                <li data-target="#gd-carousel-info" data-slide-to="1">2</li>
                <li data-target="#gd-carousel-info" data-slide-to="2">3</li>
            </ol>
            <span class="gd-carousel-control gd-carousel-no">
                /
            </span>
            <span class="gd-carousel-control gd-carousel-no">
                3
            </span>
            <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="next">
                <span class="icomoon-thin-arrow-R" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

