@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var tags = Sitecore.Context.Item.Fields["tags"];
}
<div class="gd-relate">
    <div class="row">
        <div class="col-sm-8">
            <h3>RELATED STORIES</h3>
            <div class="row">
                <div class="col-sm-6 clearfix">
                    <img data-src="../files/landmark/images/story/story-related-01.jpg"><h5>EXLUSIVES</h5>
                    <h4><a href="">The Thinking Man’s Guide to Style with Tom Stubbs</a></h4>
                </div>
                <div class="col-sm-6 clearfix">
                    <img data-src="../files/landmark/images/story/story-related-02.jpg">
                    <h5>EDITOR'S PICKS</h5>
                    <h4><a href="">#Fashion Foreword with Tina Leung</a></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gd-relate-brand">
                <h3>RELATED BRANDS</h3>
                <h4><a href="">Alexander McQueen</a></h4>
                <h4><a href="">Balenciagav</a></h4>
                <h4><a href="">Burberry</a></h4>
                <h4><a href="">J.Lindeberg</a></h4>
                <h4><a href="">Miu Miu</a></h4>
            </div>
        </div>
    </div>
</div>
