@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    
}
<div class="gd-relate-brand">
    
    <h3>RELATED BRANDS</h3>

    <h4><a href="">Alexander McQueen</a></h4>
    <h4><a href="">Balenciagav</a></h4>
    <h4><a href="">Burberry</a></h4>
    <h4><a href="">J.Lindeberg</a></h4>
    <h4><a href="">Miu Miu</a></h4>

</div>
