@using Landmark.Classes
@using Landmark.Helper

<div class="panel-layout">
    @Html.Sitecore().Placeholder("t1-slides")
@using (Html.EditFrame(Sitecore.Context.Item.Paths.FullPath))
{
    @Html.Sitecore().Placeholder("t1-panels")
}
    
    @Html.Sitecore().Placeholder("t1-instagram")
</div>
@Html.Sitecore().Rendering(SitecoreRenderingViewGuids.T1PanelNavRenderingViewGuid, new
{
    DataSource = SitecoreRenderingViewGuids.T1PanelNavRenderingViewGuid
})