@using Landmark.Helper
@model RenderingModel
<section class="panel-area">
    <div class="panel-5 clearfix">
        <div class="panel-side1">
            @Html.Sitecore().Placeholder("t1-panel1-slide1")
        </div>
        <div class="panel-side2">
            @Html.Sitecore().Placeholder("t1-panel1-slide2")
        </div>
    </div>
</section>
