@using Landmark.Helper
@model RenderingModel

<section class="panel-area">
    <div class="panel-8 clearfix">
        
        @Html.Sitecore().Placeholder("t1-panel4-slide1")
<div class="panel-side2">
        @Html.Sitecore().Placeholder("t1-panel4-slide2")
        @Html.Sitecore().Placeholder("t1-panel4-slide3")
</div>
    </div>
</section>