@using Landmark.Helper
@model RenderingModel

<section class="panel-area">
    <div class="panel-6 clearfix">
         @Html.Sitecore().DynamicPlaceholder("t1-panel2-slide1")
        @Html.Sitecore().DynamicPlaceholder("t1-panel2-slide2")
    </div>
</section>
