@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Links
@model RenderingModel
@{
    string src = LandmarkHelper.GetCallOutImage(Model.Item);
    ReferenceField typeField = ((ReferenceField)Model.Item.Fields["Article Type"]);
}
<div class="panel-side1">
            <div class="panel-img" data-bg="@src"></div>
            <div class="panel-main">
                <div class="panel-text text-box-3">
                    <hgroup class="clearfix">
                        @if (typeField != null && typeField.TargetItem != null)
                        {
                            <h4>@typeField.TargetItem.Fields["Article Type"].ToString().ToUpper()</h4>
                        }
                        <h2><a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(Model.Item))">@Html.Sitecore().Field("Article Headline", Model.Item)</a>
                        </h2>
                    </hgroup>
                </div>
            </div>
        </div>
