@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Links
@model RenderingModel
@{
    ReferenceField articleType = (ReferenceField) Model.Item.Fields["Article Type"];
    string src = LandmarkHelper.GetCallOutImage(Model.Item);
}

            <div class="panel-img-2" data-bg="@src">
                <hgroup class="clearfix panel-text">
                    <h4>@Html.Sitecore().Field("Article Sub Headline", Model.Item)</h4>
                    <h2><a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(Model.Item))">@Html.Sitecore().Field("Article Headline", Model.Item)</a></h2>
                </hgroup>
            </div>
            
            
        
