@using Landmark.Helper
@model RenderingModel

<section class="panel-area">
    <div class="panel-7 clearfix">
       @Html.Sitecore().DynamicPlaceholder("t1-panel3-slide1")
        @Html.Sitecore().DynamicPlaceholder("t1-panel3-slide2")
        @Html.Sitecore().DynamicPlaceholder("t1-panel3-slide3")
    </div>
</section>
