@using Landmark.Helper
@model RenderingModel
@{
    string src = LandmarkHelper.GetCallOutImage(Model.Item);
}
<div class="panel-img" data-bg="@src"></div>
<div class="panel-main">
    <div class="panel-text text-box-2">
        <hgroup class="clearfix">
            <h4>@Html.Sitecore().Field("Article Sub Headline", Model.Item)</h4>
            <h2>@Html.Sitecore().Field("Article Headline", Model.Item)</h2>
        </hgroup>
    </div>
</div>
