@using Sitecore.Mvc

<div class="back-top clearfix"><a href="#" class="back-to-top">TOP</a></div>
<footer class="site-footer">
    <section class="footer-nav">
        <div class="container">
            <div class="row">
                <div class="footer-nav-area">
                    <ul>
                        @Html.Sitecore().Placeholder("Footer Nav")
                    </ul>
                </div>
                <div class="footer-signup">
                    <a href="">NEWSLETTER SIGNUP</a>
                    <div class="footer-social">
                        <a href="#" title="facebook"><span class="icomoon-facebook"></span></a>
                        <a href="#" title="instagram"><span class="icomoon-instagram"></span></a>
                        <a href="#" title="sina"><span class="icomoon-sina-weibo"></span></a>
                    </div>
                    @Html.Sitecore().Placeholder("Social Media")
                </div>
            </div>
        </div>
    </section>

    <section class="footer-info">
        
        @Html.Sitecore().Placeholder("Footer Config")
    </section>
</footer>

<div id="portrait_only" class="portrait_only hidden">
    <div class="content">
        <p>This site is best experienced in portrait mode. Please rotate your device. </p>
        <img class="rotate_icon" width="100" height="100" src="/files/landmark/images/portrait_only.gif" alt=""/>
    </div>
    @Html.Sitecore().Placeholder("")
</div>


