<div class="back-top clearfix"><a href="#" class="back-to-top">TOP</a></div>
<footer class="site-footer">
    <section class="footer-nav">
        <div class="container">
            <div class="row">
                <div class="footer-nav-area">
                    @Html.Sitecore().Placeholder("footer-nav")
                </div>
                <div class="footer-signup">
                    @Html.Sitecore().Placeholder("social-media")
                </div>
            </div>
        </div>
    </section>
    <section class="footer-info">
        @Html.Sitecore().Placeholder("footer-config")
    </section>
</footer>

<div id="portrait_only" class="portrait_only hidden">
    <div class="content">
        <p>This site is best experienced in portrait mode. Please rotate your device. </p>
        <img class="rotate_icon" width="100" height="100" src="/files/landmark/images/portrait_only.gif" alt="" />
    </div>
    @Html.Sitecore().Placeholder("portrait-only")
</div>


