
<div class="gd-artplace-profile">
    <img src="../files/landmark/images/artpiece/artpiece-person-01.png" alt="artpiece picture">
    <div class="gd-artplace-profile-title">
        <h4>BO YUN</h4>
        <p>b. 1954</p>
    </div>
</div>

<div class="gd-artplace-profile-info row">
    <div class="col-sm-12 gd-longarticle">
        <p>
            Bo Yun, born Li Yong-cun, graduated from the China Central Academy of Fine Arts in Beijing and taught at the Academy of Arts &amp; Design of Tsinghua University from 1981 to 2005. Now a freelance professional artist, Boyun was featured in the first and second Stars Art Exhibitions, and his works have been exhibited extensively in France, Japan, Germany, the United States, the Netherlands, Switzerland and Hong Kong. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur molestias dolores consequatur repellendus soluta temporibus odio quam, enim quidem, fuga quas repudiandae consequuntur debitis, veniam reiciendis earum quos! Autem voluptatibus animi cum nulla. Reprehenderit, nam, ducimus. Cumque delectus eum earum, voluptates architecto ab natus hic, fugiat fugit, distinctio assumenda! Ad molestias quasi amet alias sunt dignissimos eius. Quas, perferendis. Aspernatur quo quibusdam sit blanditiis? Autem animi at, error laudantium commodi maiores laborum quis ducimus neque praesentium ipsam eum itaque asperiores minus sequi velit unde id doloremque beatae tempora. Repudiandae, explicabo soluta. Blanditiis voluptates voluptate eius numquam maiores nobis cum aliquid.
        </p>
        <a href="javascript:;" class="gd-artplace-more gd-longarticle-switcher">READ MORE +</a>
    </div>
</div>