@inherits System.Web.Mvc.WebViewPage<Landmark.Web.Models.DocumentList>
<h3>Controller View - Documents</h3>
<ul>
  @foreach (var document in @Model.Documents)
  {
    <li>@document.Title - @document.Author</li>
  }
</ul>