@model RenderingModel

@{
    var footerList = Model.Item.Children.ToList();
}
<ul>
    @foreach (var item in footerList)
    {
        <li>@Html.Sitecore().Field("Link URL", item, new { text = item["Link Text"] })</li>
    }
</ul>
