@model RenderingModel

<a href="">NEWSLETTER SIGNUP</a>
<div class="footer-social">
    <a href="#" title="facebook"><span class="icomoon-facebook"></span></a>
    <a href="#" title="instagram"><span class="icomoon-instagram"></span></a>
    <a href="#" title="sina"><span class="icomoon-sina-weibo"></span></a>

</div>