@using System.Web.Razor.Generator
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Shell.Applications.ContentEditor
@model RenderingModel

@{
    var homePage = (Item) Factory.GetDatabase("web").GetItem(ItemGuids.LandmarkHomeItem);
    var currentPage = Sitecore.Context.Item;
    Item category ;
    List<Item> items = new List<Item>();
    List<Item> breadcrumbs = new List<Item>();

    if (Session["category"] != null)
    {
        if (Sitecore.Context.Item.Template.ID.ToString() == ItemGuids.T14ShopDetailsTemplate)
        {
            category = Sitecore.Context.Database.GetItem(Session["category"].ToString());
            items.Add(category);
            items.Add(category.Parent);
        }
    }

    while (currentPage.ID != homePage.ID)
    {
        items.Add(currentPage.Parent);
        currentPage = currentPage.Parent;
    }

    items.Reverse();
    @*if (items.Count >= 3)
    {
        for (int i = 0; i < 3; i++)
        {
            breadcrumbs.Add(items[i]);
        }
    }
    else
    {
        for (int i = 0; i < items.Count; i++)
        {
            breadcrumbs.Add(items[i]);
        }
    }*@
}

<div class="col-xs-12">
    <ol class="breadcrumb">
        @foreach (var item in items)
        {
            string href = LandmarkHelper.IsFalsePage(item)?"#":@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(item)); 
            <li>
                <a href=@href>
                    @if (item.ID == homePage.ID)
                    {
                        <text>Home</text>
                        <span class="icomoon-chevron-small-right"></span>
                    }
                    else
                    {
                        CheckboxField show = item.Fields["Is Shown In Breadcrumb"];
                        if (LandmarkHelper.IsShownInBreadcrumb(item))
                        {
                            <text>@item.Fields["Page Title"]</text>

                            <span class="icomoon-chevron-small-right"></span>
                        }
                    }
                </a>
            </li>

        }
    </ol>
</div>
