@using Landmark.Classes
@using Sitecore.Collections
@using Sitecore.Data.Items
@model RenderingModel
@{
    ChildList buidings = Sitecore.Context.Database.GetItem(ItemGuids.BuidingsFolder).Children;
    Item allByBuildings = Sitecore.Context.Database.GetItem(ItemGuids.AllByBuildingsPage);
}
<ul>
    @foreach (Item buiding in buidings)
    {
        <li><a href="@Sitecore.Links.LinkManager.GetItemUrl(allByBuildings)">@buiding.Fields["Buiding Title"].Value</a></li>
    }
</ul>