@using Landmark.Classes
@using Sitecore.Collections
@using Sitecore.Data.Items
@model RenderingModel
@{
    ChildList buidings = Sitecore.Context.Database.GetItem(ItemGuids.BuidingsFolder).Children;
    Item allByBuildings = Sitecore.Context.Database.GetItem(ItemGuids.AllByBuildingsPage);
}

@foreach (Item buiding in buidings)
{
    string href=Sitecore.Links.LinkManager.GetItemUrl(allByBuildings) + "#building"+buiding.ID.ToString();
    <li><a href="@href">@buiding.Fields["Buiding Title"].Value</a></li>
}