@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Collections
@using Sitecore.Data.Items
@model RenderingModel
@{
    List<Item> buidings = LandmarkHelper.GetBuildings();
    Item allByBuildings = Sitecore.Context.Database.GetItem(ItemGuids.AllByBuildingsPage);
}

@foreach (Item building in buidings)
{
    string href=Sitecore.Links.LinkManager.GetItemUrl(allByBuildings)+"#"+building.Fields["Building Title"].Value.Replace(' ','-');
    <li><a href="@href">@building.Fields["Building Title"].Value</a></li>
}