@model RenderingModel
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration

@{
    var footerList = Factory.GetDatabase("web").GetItem(ItemGuids.FooterNavigationItem).Children.ToList();
}
<ul>
    @foreach (var item in footerList)
    {
        var target = LandmarkHelper.GetLinkTarget(item, "Link URL");
        <li>@Html.Sitecore().Field("Link URL", item, new { text = item.Fields["Link Text"],target=target })</li>
    }
</ul>
