@using Landmark.Classes
@model RenderingModel
<section class="page-header">
    <div class="container">
        <div class="row">
            @Html.Sitecore().Placeholder("breadcrumbContainer")
        </div>
    </div>
</section>
@Html.Sitecore().Placeholder("page-title")
@Html.Sitecore().Placeholder("content-area")

