@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@model RenderingModel
@{
    var slides = LandmarkHelper.GetItemByTemplate(Sitecore.Context.Item, ItemGuids.SlideObjectTemplate);

    MagezineHelper helper = new MagezineHelper();
    var setting = helper.GetStorySetting(Sitecore.Context.Item);
}
<!-- Indicators -->
<ol class="carousel-indicators">
    @for (int i = 0; i < slides.Count; i++)
    {
        <li data-target="#gd-carousel-mainimage" data-slide-to="@i" @{if (i == 0) { <text>
            class="active"
            </text>                   }}></li>
    }
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
    @{
        int j = 0;
        foreach (var item in slides)
        {
            <div @{ if (j == 0) { <text>
                 class="item active"
                 </text>               } else { <text>
                 class="item"
                 </text>               } }>
                @{
            j++;
                }
                <div class="carousel-image" data-bgsrc="@Html.Sitecore().ImageFieldSrc("Slide Image", item)"></div>
                @if (setting != null)
                {
                    <p @if (setting.StyleCD) { <text>
                       class="gd-des-below text-center"
                       </text>  } else { <text>
                       class="gd-des-below"
                       </text>  }>
                        @Html.Sitecore().Field("Slide Title", item)
                    </p>
                }
            </div>
        }
    }
</div>
<!-- Controls -->
<div class="gd-mainimage-controls">
    <a class="gd-mainimage-control" href="#gd-carousel-mainimage" role="button" data-slide="prev">
        <span class="icomoon-thin-arrow-L" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="gd-mainimage-control" href="#gd-carousel-mainimage" role="button" data-slide="next">
        <span class="icomoon-thin-arrow-R" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>