@model RenderingModel
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Items
@{
    Item NewsletterSignupItem = Sitecore.Context.Database.GetItem(ItemGuids.NewsletterSignUpPage);
    List<Item> mediaItems = Sitecore.Context.Database.GetItem(ItemGuids.FooterSocialMediaFolderItem).Children.ToList();
}

<a href="@Sitecore.Links.LinkManager.GetItemUrl(NewsletterSignupItem)">@NewsletterSignupItem.Fields["Page Title"].Value.ToUpper()</a>
<div class="footer-social">
    @foreach (var item in mediaItems)
    {
        var css = item.Fields["Social Media Css"].Value;
        var title =item.Fields["Social Media Title"].Value;
        @Html.Sitecore().Field("Social Media Link", item, new {title=title, text = "<span class='" + css + "'></span>" })
    }
</div>