@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.Data.Fields
@using Sitecore.Pipelines.InsertRenderings.Processors
@model RenderingModel
@{
    var tagIds = ((MultilistField) Model.Item.Fields["Tags"]).TargetIDs;
}

<div>
    @for (var i = 0; i < tagIds.Length; i++)
{
    var tag = Factory.GetDatabase("web").GetItem(tagIds[i]);
    <a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.SearchResultsPage)))?searchString=@PreventCustomReplace(tag.Fields["Tag Name"].Value)">
        @tag.Fields["Tag Name"].Value
    </a>
    if (i < tagIds.Length - 1)
    {
            <text>, </text>
        }
    }
</div>
