@using Landmark.Helper
@{
    var tagsTrees = LandmarkHelper.GetTagsTree();
}
@foreach (var item in tagsTrees)
{
    <div>
        @{

            <a href="@Url.Action("SearchContent", "Search")?search=@item.CurrentItem["Category Name"]">@item.CurrentItem["Category Name"] - </a>
        }

        @foreach (var it in item.Children)
        {

            <a href="@Url.Action("SearchContent", "Search")?search=@item.CurrentItem["Category Name"]">@it.CurrentItem["Category Name"],</a>
        }
    </div>
}