<?xml version="1.0"?>
<configuration>
  <sitecore>
    <sc.variable name="dataFolder" value="D:\Sitecore\LandmarkSite\Data" />
    <settings>
      <setting name="SerializationFolder" value="D:\Projects\Landmark\Website\data\serialization"/>
    </settings>
    <!-- Site -->
    <sites>
      <site patch:before="site[@name='website']" name="Landmark" hostName="local.landmark.gruden.com" virtualFolder="/" physicalFolder="/"
        rootPath="/sitecore/content/home" startItem="/Landmark" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false"/>
    </sites>
  </sitecore>
</configuration>
