<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- XslExtension -->
    <xslExtensions>
      <extension patch:before="*[@type='Sitecore.Xml.Xsl.XslHelper, Sitecore.Kernel']" type="Landmark.Web.Infrastructure.XslHelper, Landmark.Web" namespace="http://www.landmark.com/sc" singleInstance="true" />
    </xslExtensions>

    <settings>
      <setting name="SerializationFolder" value="../Project/data/serialization/"/>
    </settings>
    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>
    <!-- Landmark Rules -->
    <rule name="LandmarkLandingEN" stopProcessing="true">
      <match url="^en/$" negate="false" />
      <conditions>
        <add input="{HTTP_HOST}" pattern="local.landmark.gruden.com" />
      </conditions>
      <action type="Redirect" url="/en/ " redirectType="Permanent" />
    </rule>
    <rule name="LandmarkLandingSC" stopProcessing="true">
      <match url="^sc/$" negate="false" />
      <conditions>
        <add input="{HTTP_HOST}" pattern="dev.landmark.com" />
      </conditions>
      <action type="Redirect" url="/sc/ " redirectType="Permanent" />
    </rule>
    <rule name="LandmarkLandingTC" stopProcessing="true">
      <match url="^tc/$" negate="false" />
      <conditions>
        <add input="{HTTP_HOST}" pattern="dev.landmark.com" />
      </conditions>
      <action type="Redirect" url="/tc/" redirectType="Permanent" />
    </rule>

    <rule name="LandmarkLowerCaseRule" stopProcessing="false">
      <match url=".*[A-Z].*" ignoreCase="false" />
      <conditions>
        <add input="{REQUEST_URI}" pattern="(sitecore|/temp|/files|/tools|sc_|category=|handlers|.axd|/media/|/icon/|/api/|/xaml/|/feed/|.asmx|.png|.jpg|.css|.js|.txt)" negate="true" />
        <add input="{HTTP_HOST}" pattern="dev.landmark.com" />
      </conditions>
      <action type="Redirect" redirectType="Permanent" url="{ToLower:{URL}}" />
    </rule>
    <rule name="LandmarkRemoveTrailingSlash" stopProcessing="true">
      <match url="^(.*)/$" />
      <conditions>
        <add input="{REQUEST_URI}" pattern="category=" negate="true" />
        <add input="{REQUEST_URI}" pattern="(sitecore|/temp|/files|/tools|sc_|category=|handlers|.axd|/media/|/icon/|/api/|/xaml/|/feed/|.asmx|.txt)" negate="true" />
        <add input="{HTTP_HOST}" pattern="dev.landmark.com" />
      </conditions>
      <action type="Redirect" redirectType="Permanent" url="{R:1}" />
    </rule>
    <rule name="LandmarkDefaultLanguage" stopProcessing="true">
      <match url="^(en|sc|tc|zh-hk|zh-cn)/" negate="true" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_URI}" pattern="(sitecore|/files|/tools|sc_|category=|handlers|.axd|/media/|/icon/|/api/|/xaml/|/feed/|.asmx|.ashx|.txt|.pdf)" negate="true" />
        <add input="{HTTP_HOST}" pattern="dev.landmark.com" />
      </conditions>
      <action type="Redirect" url="/en{REQUEST_URI}" redirectType="Permanent" />
    </rule>

    <rule name="LandmarkLanguageSC" stopProcessing="true">
      <match url="^sc/(.*)" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_URI}" pattern="(sitecore|/files|/tools|sc_|category=|handlers|.axd|/media/|/icon/|/api/|/xaml/|/feed/|.asmx|.txt)" negate="true" />
        <add input="{HTTP_HOST}" pattern="dev.landmark.com" />
      </conditions>
      <action type="Rewrite" url="/zh-cn/{r:1}" />
    </rule>
    <rule name="LandmarkLanguageTC" stopProcessing="true">
      <match url="^tc/(.*)" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_URI}" pattern="(sitecore|/files|/tools|sc_|category=|handlers|.axd|/media/|/icon/|/api/|/xaml/|/feed/|.asmx|.txt)" negate="true" />
        <add input="{HTTP_HOST}" pattern="dev.landmark.com" />
      </conditions>
      <action type="Rewrite" url="/zh-hk/{r:1}" />
    </rule>
    <!-- End of Landmark Rules -->

    <linkManager defaultProvider="sitecore">
      <providers>
        <clear />
        <add patch:instead="*[@name='sitecore']" name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel"
             addAspxExtension="true" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="always"
             languageLocation="filePath" lowercaseUrls="false" shortenUrls="true" useDisplayName="false" />
      </providers>
    </linkManager>

    <!-- Site -->
    <sites>
      <site patch:before="site[@name='website']" name="Landmark" hostName="local.landmark.gruden.com" virtualFolder="/" physicalFolder="/"
        rootPath="/sitecore/content/home" startItem="/Landmark" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false"/>
    </sites>
    <settings>
      <setting name="LandmarkIndexName" value="landmark_web_index"/>
    </settings>
  </sitecore>
</configuration>
