<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="landmark_web_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/landmarkSearchConfiguration" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            <!--<locations hint="list:AddCrawler">
              <crawler type="Landmark.Classes.Crawlers.LanguageFallbackCrawler, Landmark">
                <Database>web</Database>
                <Root>/sitecore/content/Home/Landmark</Root>
              </crawler>
            </locations>-->
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/Home/Landmark</Root>
              </crawler>
            </locations>
            <!--
            <shardingStrategy type="Sitecore.ContentSearch.LuceneProvider.Sharding.LucenePartitionShardingStrategy, Sitecore.ContentSearch.LuceneProvider">
              <param desc="shardDistribution">4</param>
            </shardingStrategy>
            -->

            <!--
            <shardFolders hint="raw:AddShardFolderPath">
              <shard shardName="shard1" shardRootFolderPath="c:\Data\Indexes" />
              <shard shardName="shard2" shardRootFolderPath="c:\Data\Indexes" />
              <shard shardName="shard3" shardRootFolderPath="c:\Data\Indexes" />
            </shardFolders>
            -->
          </index>
        </indexes>
      </configuration>

      <indexConfigurations>
        <landmarkSearchConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <indexAllFields>true</indexAllFields>
          <initializeOnAdd>true</initializeOnAdd>
          <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="_uniqueid" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
          </fieldMap>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="searchtags">Landmark.Classes.ComputedFields.TagComputedField,Landmark</field>
            <field fieldName="filtertype">Landmark.Classes.ComputedFields.FilterTypeComputedField,Landmark</field>
            <field fieldName="filterorder">Landmark.Classes.ComputedFields.FilterOrderComputedField,Landmark</field>
            <field fieldName="pagetitle">Landmark.Classes.ComputedFields.PageTitleComputedField,Landmark</field>
            <field fieldName="pagecontent">Landmark.Classes.ComputedFields.PageContentComputedField,Landmark</field>
            <field fieldName="contenttitle">Landmark.Classes.ComputedFields.ContentTitleComputedField,Landmark</field>
            <field fieldName="contentdescription">Landmark.Classes.ComputedFields.ContentDescriptionComputedField,Landmark</field>
            <field fieldName="articleheadline">Landmark.Classes.ComputedFields.ArticleHeadlineComputedField,Landmark</field>
            <field fieldName="articlesubheadline">Landmark.Classes.ComputedFields.ArticleSubheadlineComputedField,Landmark</field>
            <field fieldName="articleintro">Landmark.Classes.ComputedFields.ArticleIntroComputedField,Landmark</field>
          </fields>
          <include hint="list:IncludeTemplate">
            <T4Page>{4CDF5CD9-40F0-4F0B-A095-7773CE6CF582}</T4Page>
            <T17Page>{3B297975-145B-4CF7-972E-8B2721725C8F}</T17Page>
            <T23PageAB>{2EE73BEB-F8DA-4F35-BB46-C1B0B8AC3945}</T23PageAB>
            <T23PageCD>{2F6A4A9C-C7DC-439D-8310-3A2EF0617158}</T23PageCD>
            <T27Page>{A46D7A20-B29F-4C4F-8922-0B70555CD6BC}</T27Page>
            <T11Page>{3832F0F6-6342-4394-932C-2DDAB1164C97}</T11Page>
            <T14Page>{91A88069-9A0E-48B7-9509-BDE830A54D0E}</T14Page>
            <T24Page>{3E0F5E19-4593-48D5-913E-8F5231119D02}</T24Page>
            <T25Page>{6837F6B8-D9D4-4693-85E2-3F1001C77B6A}</T25Page>
            <T34Page>{C08DC2B0-088B-4182-81C4-4D7510A741C0}</T34Page>
            <T29Page>{ADE0F061-FF28-4CDB-B6C3-14021D75355A}</T29Page>
            <T30Page>{EC149566-D74F-4E4F-9F2C-A0745E72988E}</T30Page>
          </include>
          <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders"/>
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter"/>
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper"/>
        </landmarkSearchConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>