<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- XslExtension -->
    <xslExtensions>
      <extension patch:before="*[@type='Sitecore.Xml.Xsl.XslHelper, Sitecore.Kernel']" type="Landmark.Web.Infrastructure.XslHelper, Landmark.Web" namespace="http://www.landmark.com/sc" singleInstance="true" />
    </xslExtensions>

    <settings>
      <setting name="SerializationFolder" value="../Project/data/serialization/"/>
    </settings>
    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>

    <linkManager defaultProvider="sitecore">
      <providers>
        <clear />
        <add patch:instead="*[@name='sitecore']" name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel"
             addAspxExtension="true" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="always"
             languageLocation="filePath" lowercaseUrls="false" shortenUrls="true" useDisplayName="false" />
      </providers>
    </linkManager>

    <!-- Site -->
    <sites>
      <site patch:before="site[@name='website']" name="Landmark" hostName="local.landmark.gruden.com" virtualFolder="/" physicalFolder="/"
        rootPath="/sitecore/content/home" startItem="/Landmark" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false"/>
    </sites>
    <settings>
      <setting name="LandmarkIndexName" value="landmark_web_index"/>
    </settings>
  </sitecore>
</configuration>
