<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
    <setting name="SerializationFolder" value="D:\WWW\LandmarkSitecoreDev\Data\serialization\" xdt:Locator="Match(name)"
          xdt:Transform="SetAttributes(value)"/>
    <!--<setting name="IgnoreUrlPrefixes" value="/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing|/Service/LandmarkService.asmx"/>-->
    </settings>
    <sites>
      <site name="Landmark" hostName="landmark.dev.iis.guat.me"
          xdt:Locator="Match(name)"
          xdt:Transform="SetAttributes(hostName)"/>
    </sites>
  </sitecore>
  <appSettings>
    <add key="CSVFolder" value="D:\WWW\LandmarkSitecoreDev\CSV\" xdt:Locator="Match(key)"
          xdt:Transform="SetAttributes(value)"/>
  </appSettings>
</configuration>