@using Landmark.Classes
@using Landmark.Helper

<div id="gd-carousel-info" class="carousel slide gd-carousel-info" data-ride="carousel">
    <div class="carousel-heading">
        <h3>@Html.Sitecore().Field("About Hotel Label")</h3>
    </div>
    @Html.Sitecore().Rendering(ItemGuids.RelatedItemViewGuid, new
                {
                    Cacheable = false,
                    CacheKey = "related-articles",
                    Cache_VaryByData = true
                })
</div>