
<h1>THE LANDMARK MADARIN ORIENTAL</h1>
<div class="table-responsive gd-mainimage-table">
    <table>
        <tbody>
            <tr>
                <th>PHONE</th>
                <td>+852 2132 0188 </td>
            </tr>
            <tr>
                <th>EMAIL</th>
                <td>lmhkg-reservations@mohg.com </td>
            </tr>
            <tr>
                <th>ADDRESS</th>
                <td>
                    15 Queen's Road Central, LANDMARK, Central, Hong Kong.<br>
                    <a href="#" class="gd-link-map gd-lightbox-link" data-lightsrc="/en/t7/floorplan-0.png" data-lighttitle="PUT LIGHTBOX TITLE HERE">
                        <span class="icomoon-location2"></span> VIEW MAP
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<a href="#" class="gd-link-brief">
    OFFICIAL WEBSITE <span class="icomoon-chevron-small-right"></span>
</a>