@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel

<div class="gd-pagetitle-heading">
    <h1>HOTELS</h1>
</div>
<div class="gd-pagetitle-menu hidden-xs">
    <a href="#" class="active">THE LANDMARK MADARIN ORIENTAL</a>
    <span class="gd-pagetitle-menu-gap">|</span>
    <a href="t34-2.html">MANDARIN ORIENTAL, HONG KONG</a>
</div>

<div class="gd-controls-m visible-xs">
    <select class="form-control">
        <option value="#">THE LANDMARK MADARIN ORIENTAL</option>
        <option value="t34-2.html">MANDARIN ORIENTAL, HONG KONG</option>
    </select>
</div>