@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
<div class="gd-offers">
    <h2>SPECIAL OFFERS</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="gd-offers-body">
                <h3>Complimentary wi-fi</h3>
                <p>Book a published rate and create an online profile to receive complimentary high speed internet</p>
                <a href="#" class="gd-link-book">
                    BOOK NOW <span class="icomoon-chevron-small-right"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gd-offers-body">
                <h3>Landmark Art Voyage</h3>
                <p>Take a LANDMARK Art Voyage with exclusive benefits</p>
                <a href="#" class="gd-link-book">
                    BOOK NOW <span class="icomoon-chevron-small-right"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gd-offers-body">
                <h3>Charity Auction</h3>
                <p>Celebrate French gastronomy with an Ultimate Goût de France Experience</p>
                <a href="#" class="gd-link-book">
                    BOOK NOW <span class="icomoon-chevron-small-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>