@using Landmark.Classes
@model RenderingModel
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8  col-sm-6 col-xs-12">
                @Html.Sitecore().Placeholder("breadcrumb")
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6  col-sm-6 header-share  hidden-xs">
                SHARE THIS:
                <a href="" class="icomoon-facebook"></a>
                <a href="" class="icomoon-twitter"></a>
                <a href="" class="icomoon-sina-weibo"></a>
                <a href="" class="icomoon-envelop"></a>
            </div>
        </div>
    </div>
</section>
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-6">
                <h2>@Model.PageItem.Name</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 link-seeall">
                <a href="">SEE ALL BRANDS<span class="icomoon-chevron-small-right"></span></a>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    @Html.Sitecore().Placeholder("content-area")
</section>
<section class="content-area content-area-bg">
    @Html.Sitecore().Placeholder("content-area content-area-bg")
</section>
