@using Landmark.Classes
<section class="page-header">
    @Html.Sitecore().Placeholder("page-header")
</section>
<section class="content-area">
    @Html.Sitecore().Placeholder("content-area")
</section>
<section class="content-area content-area-bg">
    @Html.Sitecore().Placeholder("content-area content-area-bg")
</section>
