<rules>
  <!--<rule name="landmarklandingen" stopprocessing="true">
    <match url="^en/$" negate="false" />
    <conditions>
      <add input="{http_host}" pattern="local.landmark.gruden.com" />
    </conditions>
    <action type="redirect" url="/en/" redirecttype="permanent" />
  </rule>-->
  <rule name="LandmarkLandingSC" stopProcessing="true">
    <match url="^sc$" negate="false" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="local.landmark.gruden.com" />
    </conditions>
    <action type="Redirect" url="/sc/" redirectType="Permanent" />
  </rule>
  <rule name="LandmarkLandingTC" stopProcessing="true">
    <match url="^tc$" negate="false" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="local.landmark.gruden.com" />
    </conditions>
    <action type="Redirect" url="/tc/" redirectType="Permanent" />
  </rule>

  <rule name="LandmarkLowerCaseRule" stopProcessing="false">
    <match url=".*[A-Z].*" ignoreCase="false" />
    <conditions>
      <add input="{REQUEST_URI}" pattern="(sitecore|/temp|/files|/tools|sc_|category=|handlers|.axd|/media/|/icon/|/api/|/xaml/|/feed/|.asmx|.png|.jpg|.css|.js|.txt)" negate="true" />
      <add input="{HTTP_HOST}" pattern="local.landmark.gruden.com" />
    </conditions>
    <action type="Redirect" redirectType="Permanent" url="{ToLower:{URL}}" />
  </rule>
  <!--<rule name="LandmarkRemoveTrailingSlash" stopProcessing="true">
    <match url="^(.*)/$" />
    <conditions>
      <add input="{REQUEST_URI}" pattern="category=" negate="true" />
      <add input="{REQUEST_URI}" pattern="(sitecore|/temp|/files|/tools|sc_|category=|handlers|.axd|/media/|/icon/|/api/|/xaml/|/feed/|.asmx|.txt)" negate="true" />
      <add input="{HTTP_HOST}" pattern="local.landmark.gruden.com" />
    </conditions>
    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
  </rule>-->
  <rule name="landmarkdefaultlanguage" stopProcessing="true">
    <match url="^(en|sc|tc|zh-hk|zh-cn)/" negate="true" />
    <conditions>
      <add input="{request_filename}" matchType="IsFile" negate="true" />
      <add input="{request_uri}" pattern="(sitecore|/files|/tools|sc_|category=|handlers|.axd|/media/|/icon/|/api/|/xaml/|/feed/|.asmx|.ashx|.txt|.pdf)" negate="true" />
      <add input="{http_host}" pattern="local.landmark.gruden.com" />
    </conditions>
    <action type="Redirect" url="/en{request_uri}" redirectType="Permanent" />
  </rule>

  <rule name="LandmarkLanguageSC" stopProcessing="true">
    <match url="^sc/(.*)" />
    <conditions>
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      <add input="{REQUEST_URI}" pattern="(sitecore|/files|/tools|sc_|category=|handlers|.axd|/media/|/icon/|/api/|/xaml/|/feed/|.asmx|.txt)" negate="true" />
      <add input="{HTTP_HOST}" pattern="local.landmark.gruden.com" />
    </conditions>
    <action type="Rewrite" url="/zh-cn/{r:1}" />
  </rule>
  <rule name="LandmarkLanguageTC" stopProcessing="true">
    <match url="^tc/(.*)" />
    <conditions>
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      <add input="{REQUEST_URI}" pattern="(sitecore|/files|/tools|sc_|category=|handlers|.axd|/media/|/icon/|/api/|/xaml/|/feed/|.asmx|.txt)" negate="true" />
      <add input="{HTTP_HOST}" pattern="local.landmark.gruden.com" />
    </conditions>
    <action type="Rewrite" url="/zh-hk/{r:1}" />
  </rule>
</rules>