
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Landmark Location</title>
    <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="/files/landmark/js/lib/jquery-1.11.2.min.js"></script>
    @if (Html.Sitecore().CurrentItem.Language.Name == "zh-CN")
    {
        <script src="http://maps.google.cn/maps/api/js?key=AIzaSyAw6n_OAbSlVlqQCKGnl2_5atA464RSHbA&sensor=false&language=zh-CN" type="text/javascript"></script>
    }
    else if (Html.Sitecore().CurrentItem.Language.Name == "zh-HK")
    {
        <script src="http://maps.google.cn/maps/api/js?key=AIzaSyAw6n_OAbSlVlqQCKGnl2_5atA464RSHbA&sensor=false&language=zh-TW" type="text/javascript"></script>
    }
    else if (Html.Sitecore().CurrentItem.Language.Name == "en")
    {
        <script src="http://maps.google.cn/maps/api/js?key=AIzaSyAw6n_OAbSlVlqQCKGnl2_5atA464RSHbA&sensor=false&language=en" type="text/javascript"></script>
    }
    <script>
        var myMapContainer = $(window.parent.document).find('.gd-location-map').eq(0);
        var myLat = myMapContainer.data('lat');
        var myLng = myMapContainer.data('lng');
        var minZoomLevel = 16;
        var maxZoomLevel = 18;

        function initialize() {
            var myLatlng = new google.maps.LatLng(myLat, myLng);
            var mapOptions = {
                mapTypeControl: false,
                streetViewControl: false,
                zoom: 17,
                center: myLatlng,
                styles: [{ "featureType": "landscape", "elementType": "all", "stylers": [{ "visibility": "simplified" }, { "lightness": "58" }] }, { "featureType": "landscape", "elementType": "labels.text", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape.man_made", "elementType": "geometry", "stylers": [{ "visibility": "on" }] }, { "featureType": "landscape.natural", "elementType": "geometry", "stylers": [{ "saturation": "-60" }] }, { "featureType": "poi", "elementType": "labels", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi", "elementType": "labels.text", "stylers": [{ "visibility": "simplified" }, { "lightness": "22" }, { "weight": "1" }, { "saturation": "-100" }] }, { "featureType": "poi", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi.park", "elementType": "geometry", "stylers": [{ "color": "#e3eed3" }] }, { "featureType": "poi.park", "elementType": "labels", "stylers": [{ "visibility": "on" }, { "lightness": 20 }] }, { "featureType": "road", "elementType": "all", "stylers": [{ "visibility": "simplified" }, { "saturation": "-100" }] }, { "featureType": "road", "elementType": "geometry.fill", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "road", "elementType": "labels.text", "stylers": [{ "visibility": "off" }] }, { "featureType": "road", "elementType": "labels.icon", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "road.highway", "elementType": "geometry", "stylers": [{ "color": "#dfd7ca" }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#e9e9e9" }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#ffffff" }] }, { "featureType": "transit", "elementType": "labels.text", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "transit", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "visibility": "on" }, { "color": "#b5cbe4" }] }]

            }
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Landmark',
                icon: {
                    url: '/files/landmark/images/map/map-marker.png'
                }
            });

            // Bounds for Central, HK
            var strictBounds = new google.maps.LatLngBounds(new google.maps.LatLng(22.280, 114.153), // Bottom Left
                new google.maps.LatLng(22.288, 114.164) // Top Right
            );
            // Listen for the CENTER_CHANGED event
            google.maps.event.addListener(map, 'center_changed', function () {
                if (strictBounds.contains(map.getCenter())) return;
                // We're out of bounds - Move the map back within the bounds
                var c = map.getCenter(),
                    x = c.lng(),
                    y = c.lat(),
                    maxX = strictBounds.getNorthEast().lng(),
                    maxY = strictBounds.getNorthEast().lat(),
                    minX = strictBounds.getSouthWest().lng(),
                    minY = strictBounds.getSouthWest().lat();
                if (x < minX) x = minX;
                if (x > maxX) x = maxX;
                if (y < minY) y = minY;
                if (y > maxY) y = maxY;
                map.setCenter(new google.maps.LatLng(y, x));
            });

            // Limit the zoom level
            google.maps.event.addListener(map, 'zoom_changed', function () {
                if (map.getZoom() < minZoomLevel) map.setZoom(minZoomLevel);
                if (map.getZoom() > maxZoomLevel) map.setZoom(maxZoomLevel);
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>
<body>
    <div id="map-canvas"></div>
</body>
</html>
