<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Landmark Map Surroundings</title>
    <link rel="stylesheet" type="text/css" href="/files/landmark/css/style.css" />
    <link rel="stylesheet" type="text/css" media="not print" href="/files/landmark/css/style-common.css" />
    <style>
        html, body, #map-canvas {
            color: #222222;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
    </style>
    <style>
        #directions-panel {
            height: 100%;
            float: right;
            width: 30%;
            overflow: auto;
        }

        #map-canvas {
            margin-right: 30%;
        }

        #control {
            padding: 5px;
            font-size: 14px;
            font-family: Arial;
            display: none;
        }

        @@media print {
            #map-canvas {
                height: 500px;
                margin: 0;
            }

            #directions-panel {
                float: none;
                width: auto;
            }
        }
    </style>
    <style>
        .hidden {
            display: none;
        }

        #directions-panel.gd-map-controls {
            background-color: #F6F6F6;
            color: #222222;
            padding: 0;
        }

        #directions-panel .gd-list-guide {
            background-color: transparent;
            padding: 20px 0;
        }

            #directions-panel .gd-list-guide .list-group-item {
                background-color: transparent;
                line-height: 40px;
                padding: 10px 35px 10px 95px;
                position: relative;
                -webkit-transition: background-color 0.2s ease-out;
                -o-transition: background-color 0.2s ease-out;
                transition: background-color 0.2s ease-out;
            }

                #directions-panel .gd-list-guide .list-group-item:hover,
                #directions-panel .gd-list-guide .list-group-item:focus,
                #directions-panel .gd-list-guide .list-group-item:active {
                    background-color: #FFFFFF;
                    cursor: pointer;
                }

        #gd-surroundings > li > .badge {
            background: #666666 url(/files/landmark/images/map/map-icons.png) 0 0 no-repeat;
            border-radius: 20px;
            height: 40px;
            left: 40px;
            position: absolute;
            top: 10px;
            width: 40px;
        }

        #gd-surroundings > li.active > .badge {
            background-color: #D4A962;
        }

        #gd-surroundings > li.active:hover,
        #gd-surroundings > li.active:focus,
        #gd-surroundings > li.active:focus {
            color: #D4A962;
        }

        #gd-surroundings > li > #map-marker-01 {
            background-position: 0 0;
        }

        #gd-surroundings > li > #map-marker-02 {
            background-position: 0 -40px;
        }

        #gd-surroundings > li > #map-marker-03 {
            background-position: 0 -80px;
        }

        #gd-surroundings > li > #map-marker-04 {
            background-position: 0 -120px;
        }

        #gd-surroundings > li > #map-marker-05 {
            background-position: 0 -160px;
        }

        #gd-surroundings > li > #map-marker-06 {
            background-position: 0 -200px;
        }

        #gd-surroundings > li > #map-marker-07 {
            background-position: 0 -240px;
        }

        #gd-surroundings > li > #map-marker-08 {
            background-position: 0 -280px;
        }

        #gd-surroundings > li > #map-marker-09 {
            background-position: 0 -320px;
        }

        #gd-surroundings > li > #map-marker-10 {
            background-position: 0 -360px;
        }

        #gd-surroundings > li > #map-marker-11 {
            background-position: 0 -400px;
        }

        #gd-surroundings > li > #map-marker-12 {
            background-position: 0 -440px;
        }

        #gd-surroundings > li > #map-marker-13 {
            background-position: 0 -480px;
        }

        @@media (max-width: 768px) {
            #map-canvas {
                margin-right: 0;
                height: 405px;
            }

            #directions-panel.gd-map-controls {
                border-bottom: 1px solid #DDDDDD;
                float: none;
                height: 180px;
                width: 100%;
            }

                #directions-panel.gd-map-controls .gd-list-guide {
                    margin: 0;
                    padding: 0;
                }

                    #directions-panel.gd-map-controls .gd-list-guide > .list-group-item {
                        display: none;
                        padding: 10px 0 10px 75px;
                    }

                        #directions-panel.gd-map-controls .gd-list-guide > .list-group-item.active {
                            display: block;
                        }

                        #directions-panel.gd-map-controls .gd-list-guide > .list-group-item > .badge {
                            left: 20px;
                        }

                #directions-panel.gd-map-controls .gd-controls-m {
                    margin: 40px 20px 20px 20px;
                }
        }
    </style>
    <script src="/files/landmark/js/lib/jquery-1.11.2.min.js"></script>

    @if (Html.Sitecore().CurrentItem.Language.Name == "zh-CN")
    {
        <script src="http://maps.google.cn/maps/api/js?key=AIzaSyAw6n_OAbSlVlqQCKGnl2_5atA464RSHbA&sensor=false&language=zh-CN" type="text/javascript"></script>
    }
    else if (Html.Sitecore().CurrentItem.Language.Name == "zh-HK")
    {
        <script src="http://maps.google.cn/maps/api/js?key=AIzaSyAw6n_OAbSlVlqQCKGnl2_5atA464RSHbA&sensor=false&language=zh-TW" type="text/javascript"></script>
    }
    else if (Html.Sitecore().CurrentItem.Language.Name == "en")
    {
        <script src="http://maps.google.cn/maps/api/js?key=AIzaSyAw6n_OAbSlVlqQCKGnl2_5atA464RSHbA&sensor=false&language=en" type="text/javascript"></script>
    }
    <script>
        var map;
        var infoWindow;
        var service;
        var userMarkID = 0;
        var userKeyword = 'drop off points';
        var userMarkers = [];
        var userMkrIcon = 'map-marker-01.png';
        var minZoomLevel = 16;
        var maxZoomLevel = 18;
        var strictBounds;
        var locations = [
			//0-DROP OFF POINT
			[
				['One Exchange Square', 22.283468, 114.158768],
				['Jardine House', 22.282982, 114.159154],
				['Alexender House', 22.281747, 114.158256],
				['12 Charter Rd.', 22.281640, 114.159465],
				['8 Quenn\'s Road Central', 22.280214, 114.157989],
				['HSBC Headquaters Building', 22.280241, 114.159709]
			],
			//1-TAXI
			[
				['CCB Tower', 22.281570, 114.161412],
				['Mandarin Oriental (HK) Ltd', 22.282092, 114.159542],
				['9 Edinburgh Pl', 22.283305, 114.160641],
				['Alexender House', 22.281633, 114.158545],
				['Landmark', 22.281031, 114.157985],
				['IFC', 22.284372, 114.158228]
			],
			//2-MTR EXITS
			[
				['Central Station', 22.28207027, 114.15779494],
				['Central Station Exit D2', 22.28193128, 114.15708818],
				['Central Station Exit E', 22.2819561, 114.15818252],
				['Central Station Exit F', 22.28184317, 114.15880077],
				['Central Station Exit H', 22.281668, 114.158886],
				['Central Station Exit J2', 22.28111038, 114.160912],
				['Central Station Exit K', 22.281106, 114.159642],
				['Hong Kong Station', 22.284675, 114.1581758],
				['Hong Kong Station Exit A1', 22.284363, 114.158239],
				['Hong Kong Station Exit A2', 22.28475568, 114.15943041],
				['Hong Kong Station Exit B1', 22.284158, 114.158558],
				['Hong Kong Station Exit C', 22.28312756, 114.15715054],
				['Hong Kong Station Exit D', 22.28485496, 114.15746167],
				['Hong Kong Station Exit F', 22.28504855, 114.1582914],
				['Sheung Wan Station', 22.28664066, 114.15202685],
				['Sheung Wan Station Exit A2', 22.286282, 114.152109],
				['Sheung Wan Station Exit D', 22.287741, 114.1524981],
				['Sheung Wan Station Exit E1', 22.286028, 114.153385],
				['Admiralty Station', 22.27937487, 114.16458026],
				['Admiralty Station Exit B', 22.279445, 114.16391172],
				['Admiralty Station Exit C1', 22.278516, 114.164805],
				['Admiralty Station Exit C2', 22.278855, 114.164891]
			],
			//3-AIRPORT EXPRESS
			[
				['Hong Kong Station', 22.284675, 114.158180]
			],
			//4-BUS STATIONS
			[
				['Central', 22.286578, 114.159294],
				['Exchange Square', 22.284738, 114.158151]
			],
			//5-TRAM STOPS
			[
				['Threater Lane (West direction)', 22.28220677, 114.15756091],
				['Threater Lane (East direction)', 22.28218692, 114.15771112],
				['Landmark', 22.28179477, 114.1579096],
				['Alexender House', 22.28104151, 114.15857814],
				['Legislative Council Building (West direstion)', 22.28067542, 114.15945992],
				['Legislative Council Building (East direstion)', 22.28061585, 114.1598247]
			],
			//6-WASHROOMS
			[
				['Star Ferry Muti-storey Car Park', 22.282325, 114.160124],
				['Queen\'s Road Central', 22.279784, 114.160072],
				['Central Market', 22.28430522, 114.15566426],
				['Wing On House', 22.28388206, 114.15654168]
			],
			//7-CAR PARK
			[
				['Shun Tak Centre', 22.287864, 114.152537],
				['Sheung Wan', 22.287722, 114.153063],
				['Rumsey Street Multi Storey Car Park', 22.287583, 114.153393],
				['Harbour Building', 22.286661, 114.154869],
				['Central 1', 22.287371, 114.156213],
				['Central 2', 22.286398, 114.159235],
				['Four Seasons Place', 22.285738, 114.157393],
				['IFC Mall', 22.285053, 114.158732],
				['101 - 125 Queen\'s Road Central', 22.284112, 114.154532],
				['Star Ferry Muti-storey Car Park', 22.282318, 114.160312],
				['City Hall Multi-storey Car Park', 22.281822, 114.162023],
				['Murray Road Multi- Storey Car Park Building', 22.280161, 114.162018],
				['Cheung Kong Center', 22.279643, 114.160264],
				['Citibank Plaza', 22.278506, 114.161275],
				['Murray Building', 22.278146, 114.159955],
				['Rawlinson House', 22.277458, 114.160878]
			],
			//8-ATM MACHINE
			[
				['Bank of China Town', 22.279537, 114.161504],
				['HSBC Headquaters Building 1', 22.280510, 114.159546],
				['HSBC Headquaters Building 2', 22.28036021, 114.15955346],
				['New Henry House', 22.28079021, 114.15844973],
				['Wheelock House', 22.28204483, 114.15759813],
				['China Building', 22.281560, 114.156912],
				['Lht Tower', 22.282007, 114.156539],
				['Exchange Square Block 1', 22.283374, 114.158393],
				['Exchange Square Block 2', 22.283947, 114.157647],
				['Hang Seng Bank Headquarters', 22.28455403, 114.15620741],
				['IFC Mall', 22.285469, 114.157964]
			],
			//9-ELEVATED WALKWAYS
			[
				['Bank of China Building', 22.284843, 114.156475],
				['Exchange Square', 22.283143, 114.158468],
				['Jardine House', 22.283007, 114.158704],
				['Chater House', 22.282422, 114.158359],
				['Prince Building', 22.281175, 114.159224],
				['Alexandra House', 22.28143986, 114.15833607],
				['Landmark', 22.28097325, 114.1575475]
			],
			//10-INFO
			[
				['Prince Building', 22.281175, 114.159224],
				['Jardine House', 22.28315238, 114.15911391],
				['Chater House', 22.282405, 114.158459],
				['Landmark Gloucester Tower', 22.281255, 114.1579288],
				['Landmark', 22.281029, 114.157978],
				['The Landmark Mandrain Oriential, Hong Kong', 22.280772, 114.157858]
			],
			//11-POST OFFICE
			[
				['General Post Office', 22.283576, 114.159646]
			],
			//12-FERRY
			[
				['Central Ferry Pier No.2', 22.288374, 114.156535],
				['Central Ferry Pier No.3', 22.288202, 114.157525],
				['Central Ferry Pier No.4', 22.287932, 114.158424],
				['Central Ferry Pier No.5', 22.287714, 114.159323],
				['Central Ferry Pier No.6', 22.287461, 114.160313],
				['Central Ferry Pier No.7', 22.287156, 114.161125],
				['Central Ferry Pier No.8', 22.286731, 114.162153],
				['Central Ferry Pier No.9', 22.286065, 114.162627],
				['Central Ferry Pier No.10', 22.285408, 114.162923]
			]
        ];

        function initialize() {
            map = new google.maps.Map(document.getElementById('map-canvas'), {
                center: new google.maps.LatLng(22.280545, 114.157903),
                zoom: 17,
                styles: [{ "featureType": "landscape", "elementType": "all", "stylers": [{ "visibility": "simplified" }, { "lightness": "58" }] }, { "featureType": "landscape", "elementType": "labels.text", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape.man_made", "elementType": "geometry", "stylers": [{ "visibility": "on" }] }, { "featureType": "landscape.natural", "elementType": "geometry", "stylers": [{ "saturation": "-60" }] }, { "featureType": "poi", "elementType": "labels", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi", "elementType": "labels.text", "stylers": [{ "visibility": "simplified" }, { "lightness": "22" }, { "weight": "1" }, { "saturation": "-100" }] }, { "featureType": "poi", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi.park", "elementType": "geometry", "stylers": [{ "color": "#e3eed3" }] }, { "featureType": "poi.park", "elementType": "labels", "stylers": [{ "visibility": "on" }, { "lightness": 20 }] }, { "featureType": "road", "elementType": "all", "stylers": [{ "visibility": "simplified" }, { "saturation": "-100" }] }, { "featureType": "road", "elementType": "geometry.fill", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "road", "elementType": "labels.text", "stylers": [{ "visibility": "off" }] }, { "featureType": "road", "elementType": "labels.icon", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "road.highway", "elementType": "geometry", "stylers": [{ "color": "#dfd7ca" }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#e9e9e9" }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#ffffff" }] }, { "featureType": "transit", "elementType": "labels.text", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "transit", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "visibility": "on" }, { "color": "#b5cbe4" }] }],
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                streetViewControl: false
                // styles: [
                //   {
                //     stylers: [
                //       { visibility: 'simplified' }
                //     ]
                //   },
                //   {
                //     elementType: 'labels',
                //     stylers: [
                //       { visibility: 'off' }
                //     ]
                //   }
                // ]
            });

            strictBounds = new google.maps.LatLngBounds(new google.maps.LatLng(22.280, 114.153), // Bottom Left
				new google.maps.LatLng(22.288, 114.164) // Top Right
			);

            google.maps.event.addListener(map, 'center_changed', function () {
                if (strictBounds.contains(map.getCenter())) return;
                // We're out of bounds - Move the map back within the bounds
                var c = map.getCenter(),
				x = c.lng(),
				y = c.lat(),
				maxX = strictBounds.getNorthEast().lng(),
				maxY = strictBounds.getNorthEast().lat(),
				minX = strictBounds.getSouthWest().lng(),
				minY = strictBounds.getSouthWest().lat();
                if (x < minX) x = minX;
                if (x > maxX) x = maxX;
                if (y < minY) y = minY;
                if (y > maxY) y = maxY;
                map.setCenter(new google.maps.LatLng(y, x));
            });
            // Limit the zoom level
            google.maps.event.addListener(map, 'zoom_changed', function () {
                if (map.getZoom() < minZoomLevel) map.setZoom(minZoomLevel);
                if (map.getZoom() > maxZoomLevel) map.setZoom(maxZoomLevel);
            });

            infowindow = new google.maps.InfoWindow({
                maxWidth: 160
            });
            //service = new google.maps.places.PlacesService(map);

            google.maps.event.addListenerOnce(map, 'bounds_changed', performSearch);
        }

        function performSearch() {
            /*var request = {
                bounds: map.getBounds(),
                //keyword: userKeyword,
                name: userKeyword
            };
            service.radarSearch(request, callback);*/
            for (var i = 0; i < locations[userMarkID].length; i++) {
                createMarker(locations[userMarkID][i], i);
            }
            fitBounds();
        }

        function callback(results, status) {
            if (status != google.maps.places.PlacesServiceStatus.OK) {
                alert(status);
                return;
            }
            for (var i = 0, result; result = results[i]; i++) {
                createMarker(result);
            }
        }

        function createMarker(place, i) {

            var marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(place[1], place[2]),
                icon: {
                    url: '/files/landmark/images/map/' + userMkrIcon
                }
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(place[0]);
                infowindow.open(map, marker);
            });

            userMarkers[userMarkers.length] = marker;
        }

        function clearMarkers() {
            for (var i = 0; i < userMarkers.length; i++) {
                userMarkers[i].setMap(null);
            }
            userMarkers.length = 0;
        }

        function fitBounds() {
            var LatLngList = new Array(new google.maps.LatLng(52.537, -2.061), new google.maps.LatLng(52.564, -2.017));
            var bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < userMarkers.length; i++) {

                bounds.extend(userMarkers[i].getPosition());
            }
            map.fitBounds(bounds);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
    @Html.Sitecore().Placeholder("t35-surrounding")
    <div id="map-canvas"></div>
    <script>
        $(document).ready(function () {
            $('#gd-surroundings>li').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
                userMarkID = $(this).prevAll().length;
                userKeyword = $(this).data('keyword');
                userMkrIcon = $(this).find('.badge').attr('id') + '.png';
                userMarkID = $(this).index();
                clearMarkers();
                performSearch();
            });

            $('.gd-controls-m select').change(function () {
                var gdActiveIndex = $(this).val();
                $('#gd-surroundings>.list-group-item').eq(gdActiveIndex).click();
            });
        });
    </script>
</body>
</html>
