USE [master]
GO
/****** Object:  Database [Landmark]    Script Date: 11/24/2015 10:17:27 ******/
CREATE DATABASE [Landmark]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Landmark].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Landmark]
GO
/****** Object:  Table [dbo].[EmailSignup]    Script Date: 11/24/2015 10:17:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailSignup](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Channel] [nvarchar](50) NOT NULL,
	[Interest] [nvarchar](255) NULL,
	[Other Interest] [nvarchar](255) NULL,
	[Room] [nvarchar](50) NULL,
	[Building] [nvarchar](50) NULL,
	[Street] [nvarchar](50) NULL,
	[Area] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Postcode] [nvarchar](10) NULL,
	[Country] [nvarchar](50) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[OptIn] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_EmailSignup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
