<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="Data Source=.;Database=LandmarkUatSitecore_Core;Integrated Security=true"
        xdt:Locator="Match(name)"
        xdt:Transform="Replace" />
  <add name="master" connectionString="Data Source=.;Database=LandmarkUatSitecore_Master;Integrated Security=true"
      xdt:Locator="Match(name)"
      xdt:Transform="Replace" />
  <add name="web" connectionString="Data Source=.;Database=LandmarkUatSitecore_Web;Integrated Security=true"
       xdt:Locator="Match(name)"
      xdt:Transform="Replace" />
  <add name="reporting" connectionString="Data Source=.;Database=LandmarkUatSitecore_Analytics;Integrated Security=true"
      xdt:Locator="Match(name)"
      xdt:Transform="Replace"/>

  <add name="LandmarkEntities" connectionString="metadata=res://*/Models.Landmark.csdl|res://*/Models.Landmark.ssdl|res://*/Models.Landmark.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Landmark;user id=sa;password=Grudenfun987;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
      xdt:Locator="Match(name)"
      xdt:Transform="Replace"/>
</connectionStrings>