<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="Data Source=.;Database=LandmarkDevSitecore_Core;Integrated Security=true"
        xdt:Locator="Match(name)"
        xdt:Transform="Replace" />
  <add name="master" connectionString="Data Source=.;Database=LandmarkDevSitecore_Master;Integrated Security=true"
      xdt:Locator="Match(name)"
      xdt:Transform="Replace" />
  <add name="web" connectionString="Data Source=.;Database=LandmarkDevSitecore_Web;Integrated Security=true"
       xdt:Locator="Match(name)"
      xdt:Transform="Replace" />
  <add name="reporting" connectionString="Data Source=.;Database=LandmarkSitecore_Analytics;Integrated Security=true"
      xdt:Locator="Match(name)"
      xdt:Transform="Replace"/>
</connectionStrings>