<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=a@123456789;Data Source=.;Database=LandmarkSitecore_Core"/>
  <add name="master" connectionString="user id=sa;password=a@123456789;Data Source=.;Database=LandmarkSitecore_Master"/>
  <add name="web" connectionString="user id=sa;password=a@123456789;Data Source=.;Database=LandmarkSitecore_Web"/>
  <add name="analytics" connectionString="mongodb://localhost/analytics"/>
  <add name="tracking.live" connectionString="mongodb://localhost/tracking_live"/>
  <add name="tracking.history" connectionString="mongodb://localhost/tracking_history"/>
  <add name="tracking.contact" connectionString="mongodb://localhost/tracking_contact"/>
  <add name="reporting" connectionString="user id=sa;password=a@123456789;Data Source=.;Database=LandmarkSitecore_Analytics"/>
  <add name="LandmarkSitecore_MasterEntities" connectionString="metadata=res://*/Models.Landmark.csdl|res://*/Models.Landmark.ssdl|res://*/Models.Landmark.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Landmark;user id=sa;password=a@123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
 