@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel
<div class="masonry-area clearfix">
    <div class="brand-box-area">
        @{
            var brands = LandmarkHelper.GetBrands().Where(p => p.Tag.Contains(ItemGuids.FashionTag)).GroupBy(p => p.Group).ToList();
        }
        @foreach (var items in brands)
        {
            <div class="brand-box brand-box-letter" id="a">@items.First().Group</div>
            foreach (var item in items)
            {
                <a class="brand-box" href="#" title="@item.BrandItem["Brand Title"]">
                    <img data-src="@Html.Sitecore().ImageFieldSrc("Brand Image", item.BrandItem)" alt="brand">
                </a>
            }

        }
    </div>
</div>
