@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel
@{
    if (Sitecore.Context.Item.Parent.ID.ToString() != ItemGuids.ShoppingItem && Sitecore.Context.Item.Parent.ID.ToString() != ItemGuids.DiningItem)
    {
        Session["category"] = Sitecore.Context.Item.Parent.ID.ToString();
    }
    else
    {
        Session["category"] = null;
    }
}
<section class="brand-content">
    <div class="container">
        <div class="row">
            <div class="brand-list">
                @Html.Sitecore().Placeholder("brand-list")
            </div>
            @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.T13SideBarRenderingViewGuid)
        </div>
    </div>
</section>
