@using Landmark.Classes
@using Landmark.Helper
@using Landmark.Models
@using Sitecore.Collections
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@model RenderingModel

@{
    ShoppingHelper shoppingHelper = new ShoppingHelper();
    var relatedCategorieIDs = shoppingHelper.GetRelatedCategoriesIDs();
    var shoppingPages = LandmarkHelper.GetItemsByRootAndTemplate(ItemGuids.ShoppingItem, ItemGuids.T11PageTemplate);
    var diningPages = LandmarkHelper.GetItemsByRootAndTemplate(ItemGuids.DiningItem, ItemGuids.T11PageTemplate);
    var allPages = shoppingPages.Union(diningPages);
    foreach (var item in allPages)
    {
        foreach (var id in relatedCategorieIDs)
        {
            var category = Sitecore.Context.Database.GetItem(id);
            if (category.DisplayName == item.DisplayName)
            {
                if (item.Children.FirstOrDefault().TemplateID.ToString() == ItemGuids.T13PageTemplate)
                {
                    <li><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(item.Children.FirstOrDefault()))">@Html.Sitecore().Field("Page Title", item)</a></li>
                }
                else
                {
                    <li><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(item))">@Html.Sitecore().Field("Page Title", item)</a></li>
                }
            }
        }
    }
}

