@using Landmark.Classes
@using Landmark.Helper
@model RenderingModel
@{
    ShoppingHelper shoppingHelper = new ShoppingHelper();
    var brandsByFloor = shoppingHelper.GetBrandsByFloor();
    if (brandsByFloor.Count > 6)
    {
        brandsByFloor = brandsByFloor.GetRange(0, 6);
    }
    int i = 1;

    foreach (var item in brandsByFloor)
    {

        <div @if (i > 4) { <text>
             class="col-sm-2 col-xs-3 hidden-xs"
             </text>   } class="col-sm-2 col-xs-3">
            <a href="@Sitecore.Links.LinkManager.GetItemUrl(item)"><img data-src="@Html.Sitecore().ImageFieldSrc("Brand Image", item)" alt="@Html.Sitecore().Field("Brand Title", item)"></a>
        </div>
i++;
    }
}