@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Items
@model RenderingModel

<div class="table-responsive gd-tg-table">
    <table>
        <tbody>
            <tr>
                <th><span class="icomoon-price-tag"></span> @Html.Sitecore().Field("Glossary Value", ItemGuids.TagsItem)</th>
                <td>
                    @Html.Sitecore().Rendering(ItemGuids.TagsRenderingViewGuid, new
                {
                    Cacheable = false,
                    CacheKey = "tags",
                    Cache_VaryByData = true
                })
                </td>
            </tr>
        </tbody>
    </table>
</div>
