@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Items
@model RenderingModel

<div class="table-responsive gd-tg-table">
    <table>
        <tbody>
            <tr>
                <th><span class="icomoon-price-tag"></span> @Html.Sitecore().Field("Glossary Value", SitecoreItems.TagsItem):</th>
                <td>
                    @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.TagsRenderingViewGuid)
                </td>
            </tr>
        </tbody>
    </table>
</div>
