.t35 {
  >iframe {
    display: block;
    height: 850px;
    width: 100%;
    @media (max-width:@screen-xs-min) {
      height: 585px;
    }
  }
  #gd-map-switcher-m {
    margin: 30px 0;
  }
}
.t8{
  .gd-brief{
    margin-top: 53px;
  }
  #gd-carousel-info{
    margin-top: 25px;
  }
  .gd-mainimage .carousel-inner .item > .carousel-caption .gd-carousel-detail{
   height: 260px;
    @media (min-width:@screen-sm) {
    height: @gdmi-height-md;
    }
    @media (min-width:@screen-md) {
    height: @gdmi-height;
    }
  }
}

.t14{
  .gd-brief{
    margin-top: 53px;
  }
  .gd-bigbrand{
   text-align: center;
    margin: 30px 0 50px;
    @media (min-width:@screen-sm) {
    margin: 41px 0 50px;
    
    }
  }
  .shopdetails-brand{
    margin: 25px 0 0;
    background-color: #f6f6f6;
    padding: 30px 0 60px;
    position: relative;
    .gd-link-brands{
      display: block;
      float: none;
      position: absolute;
      bottom: 10px;
      top: auto;
      left: 50%;
      right: auto;
      margin-left: -55px;
    }
    ul {
     margin: 0;
      padding: 0;
      li{
     margin: 0;
      padding: 0 ;
     display: inline-block;
        .black-text2;
        a{
          padding-bottom: 10px;
        }
        a.active{
          border-bottom: solid 1px #D4A962;
          color: @brand-golden;
        }
    }
    }
    .shopdetails-brand-header{
      text-align: center;
      ul li {
        margin: 0 0 0 10px;
        padding-left: 12px;
         border-left: solid 1px #222;
        &:first-child{
        padding-left: 0;
        border-left: none;
        }
      }
    }
    .shopdetails-brand-body{
      padding: 0;
      margin-top: 30px;
      .row>.col-sm-2{
        text-align: center;
        line-height: 76px;
        >a {
          display:block;
          >img {
            max-width: 80%;
          }
        }
       }
    }
  }
  .back-top {
    height: 0;
  }
}
 @media (min-width:@screen-sm) {
   .t14{
  .shopdetails-brand{ 
    margin: 25px 0 0;
    background-color: #f6f6f6;
    padding: 60px 0;
    position: relative;
    .gd-link-brands{
      display: block;
      float: right;
      position: absolute;
      bottom: auto;
      text-align: center;
      top: 58px;
      left: auto;
      right: 10px;
      margin-left: 0;
    }
    .shopdetails-brand-header{
      text-align: center;
      ul li {
        margin: 0 0 0 28px;
        padding-left: 30px;
         border-left: solid 1px #222;
        &:first-child{
        padding-left: 0;
        border-left: none;
        }
      }
    }
    .shopdetails-brand-body{
      margin-top: 43px;
      
      .row>.col-sm-2{
        >a {
          >img {
            max-width: 100%;
          }
        }
      }
    }
  }
   }  
}
.t22{
  h5{
  color: @gd-title-color;
  font-family: @font-family-serif;
  font-size: 15px;
    text-align: left;
    margin: 30px 0 10px;
                @media (min-width: @screen-md) {
                 font-size: 16px;
                }
  }
  .art-gallery{
   .art-g-box {
    margin-bottom: 60px;
      border-bottom: solid 1px #cccccc; 
      &.gold-line{
      border-bottom: solid 1px @gd-title-color; 
      }
      .clearfix;
      .black-text2;
      .art-g-box-header{
        .lightgray-text;
        .clearfix;
        img{
          float: left;
        }
        .art-g-box-header-text{
          margin-left: 120px;
        }
        a{
        letter-spacing: 0.1em;
          vertical-align:middle;
         }
        .icomoon-chevron-small-right{
          display: inline-block;
          padding-bottom: 3px;
          font-size: 20px;
          vertical-align:middle;
        }
      h4{
        margin: 5px 0 15px;
        span{
          display: block;
          margin-left: 0px;
          margin-top: 15px;
         color: @gd-text-color;
          font-size: 12px;
          font-family: @font-family-sans-serif;
        }
      }
      }
    }
    .gd-artlist{
      text-align: left;
      margin: 30px 0 50px;
     .row{
       margin-left: -5px;
       margin-right: -5px;
      .col-sm-6{
        padding-left: 5px;
        padding-right: 5px;
        img{
          width: 100%;
         }
      }
     }
      .gd-artlist-toggle {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row wrap;
        float: left;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.5s;
        -o-transition: max-height 0.5s;
        transition: max-height 0.5s;
        width: 100%;
        &.active {
          max-height: 10000px;
          -webkit-transition: max-height 0.5s;
          -o-transition: max-height 0.5s;
          transition: max-height 0.5s;
        }
      }
    }
    @media (max-width: 768px) {
      .gd-artlist>.row .col-sm-6 {
        margin-bottom: 50px;
      }
      .gd-artlist>.row>.col-sm-6:last-child {
        margin-bottom: 0;
      }
    }
    .loding-more{
     display: block;
      text-align: center; 
      margin-bottom: 60px;
      .black-text2;
    }
  }
  .location-list-area{
    margin: 30px 0;
    .location-list{
      margin: 0;
      padding: 0;
      list-style: none;
      .black-text2;
      .active{
        color:  @gd-title-color; 
        span{
          background-color:  @gd-title-color; 
        }
      }
      -webkit-columns: 2;
      -moz-columns: 2;
      -o-columns: 2;
      columns: 2;
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
  
      column-gap: 20px;
      li{
        margin-bottom: 15px;
      span{ 
        width: 30px;
        height: 30px;
        display: inline-block;
        line-height: 30px;
        text-align: center;
        font-size: 16px;
        color: white;
        margin-right: 20px;
      font-family: @font-family-serif;
         -moz-border-radius: 15px; /* Firefox */
        -webkit-border-radius: 15px; /* Safari   Chrome */
        border-radius: 15px; /* Opera 10.5+,  */
        background-color: #666;
        
      }
      }
    }
    .location-list-map{
      text-align: center;
    }
  }
  .gd-list-guide {
    @media (min-width: @screen-xs-min) {
      -webkit-columns: 2;
      -moz-columns: 2;
      -o-columns: 2;
      columns: 2;
    }
    >.list-group-item {
      padding-left: 0;
    }
  }
  .gd-controls-m {
    color: #000000;
  }
}
@media (min-width:@screen-sm){
  .t22{
  .gd-pagetitle .gd-pagetitle-heading h2{
    margin-bottom: 30px;
  }
  .art-gallery{
    >.col-sm-6{
      &:last-child{
        text-align: right;
      }
    }
    .art-g-box{
      display: inline-block;
      text-align: left;
      width: 96%;
      .art-g-box-header{
      h4{
        margin: 25px 0 10px;
        span{
          display: inline;
          margin-left: 25px;
          margin-top: 0;
        }
      }
      }
    }
  }
  }
 }
 .t22-svg {
   h4 {
     margin-bottom: 10px;
   }
   .mapplic-map-image {
     &:hover, &:focus, &:active {
       cursor: pointer;
     }
   }
   @media (max-width: 768px) {
     .mapplic-map-image text {
       display: none;
     }
   }
   .gd-pagetitle .gd-controls-m {
     margin-bottom: 10px;
   }
 }
.t33{
  .gd-mainimage-single .carousel-inner .item > .carousel-caption{
      background: url(../images/black-80.png);
      background: rgba(0, 0, 0, 0.8);
    
            @media (min-width: 0px) {
              float: none;
              width: 100%;
            }
            @media (min-width: @screen-sm-min) {
              width: 33%;
            }
  }
  .gd-brief{
    margin-top: 53px;
    margin-bottom: 25px;
    .gd-brief-body.gd-brief-center button{
      margin-top: 20px;
    }
  
  }
  .gd-location-map{
    margin: 62px 0 25px;
    width: 100%;
    img{
    width: 100%;}
  }
  iframe {
    background-color: #EAEAEA;
    border: 1px solid #CECECC;
    height: 350px;
    width: 100%;
  }
}
.t34{
  h3{
    color: @gd-title-color;
     display: block;
      font-family: @font-family-serif;
      }
  
  .gd-offers{
    margin: 40px 0 20px;
    padding: 0 10px;
    text-align: left;
    h3{
      margin-bottom: 0;
    }
    
    .gd-offers-body{
      border-bottom: solid 1px #ccc;
      padding: 30px 0;
      width: 100%;
      margin: 0 auto;
      font-size: 13px;
      line-height: 2;
      @media (min-width: @screen-sm) {
                 font-size: 12px;
                }
                @media (min-width: @screen-md) {
                 font-size: 14px;
                }
    }
    .col-sm-4{
      border-right: none;
      &:last-child{
       border-right: none;
        .gd-offers-body{
        border-bottom:none;
        }
      }
    }
    h4{
    color: @gd-text-color;
      margin:0 0 10px;
    }
    p{
    color: @gd-text-color;
     }
      }
}
@media (min-width:@screen-sm){
 .t34{  
  .gd-offers{
    padding: 0;
    margin: 80px 0 50px;
    text-align: center;
    h3{
      margin-bottom: 50px;
    }
    .col-sm-4{
      border-right: solid 1px #ccc;
      &:last-child{
       border-right: none;
      }
    }
    .gd-offers-body{
      border-bottom:none;
      width: 80%;
      padding:0;
      margin: 0 auto;
    }
    h4{
      margin:0 0 19px;
    }
    p{
    color: @gd-text-color;
     min-height: 90px;
     }
      }
      }
    }
.t28{
  .gd-pagetitle .gd-pagetitle-menu{
    margin-bottom: 40px;
  }
  .gd-brief{
    margin-bottom: 50px;
    .gd-brief-heading {
      padding: 0 0 1em;
    }
  }
}
.t29{
  h5{
    color: @gd-title-color;
    margin-top:15px;
    margin-bottom:  20px;
    font-size: 16px;
     display: block;
      font-family: @font-family-serif;
      }
  .gd-pagetitle .gd-pagetitle-heading h2{
    margin-bottom: 15px;
  }
  .gd-artplace{
    margin: 30px 0 60px;
    .black-text2;
    .text-center{
      padding-top: 10px; 
    }
    .gd-pagetitle{
    >img {
      cursor: pointer;
      margin-top: 30px;
      max-width: 100%;
    }
      h2{
       margin-top: 0;
        line-height: 1.5;
      }
    }
    .gd-artplace-details{
      margin-top: 30px;
      a{
        display: block;
      }
      .gd-artplace-info{
        font-size: 10px;
      }
      .gd-artplace-location{
      color: @gd-title-color; 
      }
      .gd-artplace-location-info{
       font-size: 13px;
                @media (min-width: @screen-sm) {
                 font-size: 12px;
                }
                @media (min-width: @screen-md) {
                 font-size: 14px;
                }
        .gd-link-map{
       font-size: 12px;
          margin-top: 12px;
          color: #666;
        }
      }
      .text-right{
         .gd-button,.gd-audio-frame{
           margin-top: 20px;
        width: 80%;
        }
      }
    }
    .gd-artplace-profile{
      display: block;
      margin-top: 50px ;
      margin-bottom: 25px;
      .clearfix;
      img{
       float: left;
       }
      .gd-artplace-profile-title{
       margin-left: 130px;
      }
      &:hover{
        h5{
          color: @gray;
        }
      }
    }
    .gd-artplace-profile-info{
       .lightgray-text2;
      font-size: 13px;
                @media (min-width: @screen-sm) {
                 font-size: 12px;
                }
                @media (min-width: @screen-md) {
                 font-size: 14px;
                }
        p{
        color: @gd-text-color;
        }
    .gd-artplace-more{
        display: block;
      font-size: 12px;
        margin-top: 20px;
    }
    }
  }
  .gd-showcase{
    h3{
    .gd-link-brands{
      font-family: @font-family-sans-serif;
      display: block;
      bottom: auto;
      position: relative;
      text-align:center;
      margin-left: 0;
    }
    }
  }
  .back-top {
    height: 0;
  }
}
@media (min-width:@screen-sm) {
  .t29 .gd-artplace{
    margin: 50px 0 60px;
    .gd-pagetitle{
    >img {
      margin-top: 0px;
    }
    }
    
  .gd-artplace-details{
      .text-right{
         .gd-button,.gd-audio-frame{
           margin-top: 0;
        width: 100%;
        }
      }
  }
  }
  .t29 h5{
    margin-top:35px;
      }

  .t29 .gd-showcase{
    h3{
    .gd-link-brands{
      font-family: @font-family-sans-serif;
      display: block;
      float: right;
      position: absolute;
      bottom: auto;
      text-align: center;
      top: 48px;
      left: auto;
      right: 10px;
      margin-left: 0;
    }
    }
  }
}

.t30{
  .gd-artist{
    position: relative;
    background-color: #252525;
    padding: 30px 10px 60px;
       .gray-text3;
    .col-md-3{
     margin-bottom: 30px;
    }
    .gd-artist-details{
      .gd-artist-info{
        width: 80%;
        text-align: center;
        margin: 30px auto 20px;
      }
    .gd-mainimage-brief{
      padding: 0 10px;
      h3{
      margin-bottom: 25px; 
        &:after {
            margin-left: -15px;
          left: 50%;
          bottom: 0;
          border-top: 1px solid @gd-title-color;
          content: " ";
          height: 0;
          position: absolute;
          width: 30px;
        }
      }
      p{
      color: white;
      }
      .gd-artist-more{
        display: block;
        margin-top: 20px;
      }
    }
    }
  }
  .back-top {
    height: 0;
  }
}
@media (min-width:@screen-sm) { 
  .t30{
   .gd-artist { 
    padding: 90px 10px 60px;
    .col-md-3{
     margin-bottom:0;
    }
     .gd-artist-details{
       .gd-mainimage-brief{
         padding: 0 ;
         h3{
          &:after {
            margin-left:0;
          height: 0;
          left: 0;
          position: absolute;
          width: 30px;
        }
         }
       }
     }
  }
}
}
.t7 {
  .gd-floorplan {
    border-right: 1px solid #CCCCCC;
    font-family: 'Arial', sans-serif;
    .gd-fp-levela, .gd-fp-levelb {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      float: left;
      a {
        color: #222222;
        display: block;
        font-size: 14px;
        &:hover, &:focus, &:active {
          color: @brand-golden;
        }
      }
    }
    .gd-fp-levela {
      border-right: 1px solid #CCCCCC;
      position: relative;
      right: -1px;
      width: 27%;
      >a {
        line-height: 1;
        margin-bottom: 2em;
        padding: 0.6em 0;
        text-align: center;
        &.active {
          background-color: @brand-golden;
          color: #FFFFFF;
        }
      }
    }
    .gd-fp-levelb {
      border-left: 1px solid #CCCCCC;
      height: 800px;
      overflow: hidden;
      width: 73%;
      a {
        display: block;
        line-height: 1.7;
        margin-bottom: 0.7em;
        padding: 0.2em 1.5em;
        >span {
          display: block;
        }
        .id {
          color: #999999;
          font-size: 12px;
        }
        &.active {
          background-color: @brand-golden;
          color: #FFFFFF;
          .title {
            font-weight: 600;
          }
          .id {
            color: #FFFFFF;
            font-weight: 600;
          }
        }
      }
    }
    @media (max-width: 767px) {
      border-right: none;;
      margin: 0 -20px;
      .gd-fp-levelb {
        border-left: none;
        height: auto;
        margin-bottom: 50px;
        width: 100%;
        a {
          margin-bottom: 0;
          padding-bottom: 1em;
          padding-top: 1em;
          > span {
            display: inline;
          }
          .id {
            float: right;
            font-size: 14px;
          }
        }
        .gd-mainimage-brief {
          background-color: #F6F6F6;
          padding: 30px 20px;
          .gd-button-white,
          .gd-button-white.active {
            background-color: transparent;
            color: #222222;
            display: inline-block;
            padding: 5px 15px;
            &:hover, &:focus, &:active {
              background-color: #FFFFFF;
              color: #D4A962;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .gd-mainimage-brief {
    padding-top: 20px;
    .gd-mainimage-table {
      margin-bottom: 20px;
      tbody {
        th, td {
          padding: 6px 5px;
        }
        th {
          color: #D4A962;
          padding-left: 0;
        }
      }
    }
  }
  .mapplic-levels {
    display: none;
  }
  .gd-floorplan-m {
    margin: 30px 0;
    .gd-controls-m {
      margin: 20px 0;
    }
    .gd-floorplan-img-m {
      text-align: center;
      img {
        width: 50%;
      }
    }
  }
}

.t20 {
  >.container {
    padding-top: 80px ;
    padding-bottom: 40px;
    margin-top: -40px;
      
  }
  .gd-mainimage-single {
    .carousel-inner {
      .item {
        .carousel-image{
         height: 200px;
          background-size: cover;
        }
        >img {
          height: auto;
        }
        >.carousel-caption {
        }
      }
    }
  }
  .gd-brief {
    margin-bottom: 40px;
    .gd-brief-body {
      text-align: left;
    }
  }
  .gd-picture-des {
    padding: 0 ;
    .gd-pd-picture{
      height: 140px;}
  }
}/*
@media (min-width:@screen-sm){
  .t20 {
  .gd-mainimage-single {
    .carousel-inner {
      .item {
        .carousel-image{
          height: 400px;}}}}}
}*/
@media (min-width:@screen-sm){

  >.container {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .t20 {
  .gd-mainimage-single {
    .carousel-inner {
      .item {
        .carousel-image{
         height: @gdmi-height;
        }
        >img {
          height: 800px;
        }
        >.carousel-caption {
            .gd-carousel-detail {
              .gd-mainimage-brief {
                h3 {
                  font-size: 48px;
                }}}
        }
      }
    }
  }
  
  .gd-brief {
    margin-bottom: 40px;
    .gd-brief-body {
      text-align: center;
    }
  }
  }
}
.ie8{
  .t20 .gd-mainimage-single .carousel-inner .item > .carousel-caption{
    width: 600px;
  }
}


.t4{
  .gd-newsdetails{
  .gd-nd-details-area{
  .gd-nd-details{
    .col-sm-9 img,.col-sm-6 img{
      border: solid 1px #e9e9e9;
          margin: 10px 0 ;
      width: 100%;
        }
    
      @media (min-width:@screen-sm){
        
    .col-sm-6 img{ 
      margin: 30px 0 50px;
    }
    .col-sm-9 img{ 
      margin: 30px 20px 50px 0;
      width: auto;
    }
      }
  }
  }
  }
}
.t9, .t31 {
  .gd-contact{
    .gd-contact-area{
      .body-text;
        border-bottom: solid 1px #dedede;
      .gd-contact-heading{
        &:hover, &:focus, &:active {
          cursor: pointer;
        }
        h3{ 
          margin: 25px 0;
          span{
            font-size: 18px;
            margin-right: 15px;
           }
        }
         >  span{
          font-size: 26px;
          color: @brand-golden;
          float: right;
        }
      }
      .gd-contact-body{
        margin: 0 0 20px  0;
        @media (min-width:@screen-sm){
        margin: 20px 0 30px  33px;
        }
      }
      .gd-controls-m select {
        border-color: #CCCCCC;
      }
    }
    }
  
  .table-responsive {
    @media (max-width:@screen-sm){
    table{
      tbody{
        td{
          text-align: left;
          padding: 0;
          position: relative;
          display: block;
        }
        th{
          text-align: left;
          padding: 5px 0;
          position: relative;
          display: block;
        }
      }
    }
    }
     @media (min-width:@screen-sm){
     table tr > th{
      width: 20%;
  }
    table tr > th, table tr > td{
      padding: 8px 5px;
    }
    }
  }
  .gd-personal-data{
    .body-text;
    margin: 60px 0 10px;
    padding: 30px;
     border: solid 1px #dedede;
    h4{
      margin: 0 0  20px;
    }
  }
  .gd-contact-share{
    h4{
      vertical-align: middle;
      line-height: 40px;
     display: inline-block;
      margin-right: 19px;
          span{
            font-size: 18px;
            margin-right: 15px;
           }
    }
    .primary-text2;
    .gd-contact-share-icon{
      width: 25px;
      height: 25px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      .border-radius (20px);
      text-align: center;
     border: solid 2px @brand-golden;
      span{
      display: inline-block;
      font-size: 15px;
      line-height: 21px;
      }
      &:hover{
        border: none;
        background-color: @brand-golden;
      }
      @media (min-width:@screen-sm){
        width: 40px;
      height: 40px;
      margin-right: 15px;
      span{
      display: inline-block;
      font-size: 20px;
      line-height: 36px;
      }
      
      }
    }
  }
  .gd-contact-form{
    font-size: 12px;
    margin: 20px 0 0;
    .gd-contact-code{
      margin-top: 20px ;
      margin-bottom: 20px ;
      .clearfix;
      p{
        font-size: 14px;
      }
      img{
        border: solid 1px  #dedede;
      }
      input {
        margin-top: 10px;
      }
      a{
       display: block;
       text-decoration: underline;
        color: #222;
        margin-top: 8px;
      
      }
    }
    @media (min-width:@screen-sm){
    .gd-contact-code{
      img{
        float: left;
        margin-right: 20px;
        border: solid 1px  #dedede;
      }
      input {
        margin: 0;
        width: 40%;
      }
    }
    }
  }
}
.t31 {
  .gd-contact .gd-contact-area {
    border-bottom: none;
    .gd-contact-body {
      margin: 0;
    }
  }
  .gd-form-contents {
    margin-bottom: 60px;
    margin-top: 30px;
    .gd-contact-body {
      >p {
        line-height: 2;
      }
    }
  }
  .gd-subforms {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin: 20px 0;
    padding: 20px 0;
    .tab-pane {
      >p {
        font-size: 14px;
        margin-bottom: 15px;
      }
      .gd-checkbox-wrapper {
        padding-top: 14px;
      }
    }
  }
  .gd-interests {
    .gd-checkbox {
      display: block;
      margin-bottom: 30px;
      padding-left: 40px;
    }
    .others {
      .form-control {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        width: 150px;
      }
    }
  }
  .gd-verify-code {
    margin-bottom: 40px;
    img {
      border: 1px solid #DDDDDD;
      max-width: 100%;
    }
    a {
      color: #222222;
      display: block;
      font-size: 14px;
      margin-top: 5px;
      text-decoration: underline;
    }
  }
  .gd-legals {
    color: #222222;
    font-size: 12px;
    line-height: 1.8;
    margin-bottom: 30px;
    p {
      margin-bottom: 15px;
    }
    .gd-checkbox-wrapper {
      margin-bottom: 15px;
      .gd-checkbox {
        padding-left: 40px;
      }
    }
  }
}
.t10{
  .gd-brief{
    margin: 50px 0 80px;
  }
/*  .gd-carousel-info .carousel-inner .item > .carousel-image{
   background-size: cover !important;
   background-position: 50% 50% !important;
    @media (min-width:@screen-sm){
   background-size: contain !important;
   background-position: 100% 50% !important;
    
    }
  }*/
}
.t27{
  .gd-exclusive{
    margin: 30px 0 80px;
    @media (min-width:@screen-sm){
    margin: 50px 0 80px;
    }
    .col-sm-5{
      img{  margin-top: 10px;}
    }
  }
  .gd-mainimage-withdes .carousel-indicators{
   top: auto;
    bottom: 60px;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    width: 100%;
  }
}
.t24{
  .gd-content-details{
    margin-bottom: 30px;
    .table-responsive{
       table tr > th {  width:40%;}
    }
  }
  @media (max-width:@screen-sm){
  
  .gd-full-img{
    width: 100%;
    height: 320px;
    overflow: hidden;
    margin-bottom: 30px;
    img{
      position: absolute;
      width: 100%;
      height: auto;
      top:-50%;
     }
  }
  }
}
.t26{
  .gd-promotion{
   margin-top: 60px;
  }
}

// Map in lightbox
.modal-body .gd-location-map {
  height: 100%;
  
  iframe {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.t32{
   .gd-controls-m{
     margin-top: 20px;
    }
  .gd-pagetitle {t32
  .gd-search-info{
    font-size: 15px;
    color: @gray-darker2;
    font-family: @font-family-serif;
    margin: 20px 0 0;
    @media (min-width:@screen-sm){font-size: 17px;}
    @media (min-width:@screen-md){font-size: 20px;}
    span{
      color: @brand-golden;
    }
  }
    .gd-search-filter{
      font-size: 12px;
      margin: 18px  0 0;
  .black-text2;
    >ul{
      display: inline;
      list-style: none;
      margin: 0 0 0 20px;
      padding: 0;
     > li{
        display: inline-block;
        margin: 0;
        padding: 0 30px;
        border-left: solid 1px #222;
        &:first-child{
         border-left: none;
          padding-left: 0;
        }
       &.active a{
         color: @brand-golden;
       }
      }
    }
    }
  }
  .gd-search{
    margin-top: 50px;
    .gd-search-body{
      ol{
         font-family: @font-family-serif;
         font-size: 18px;
         color: @brand-golden;
         margin: 20px 0 0;
        padding: 0 0 0 25px;
        @media (min-width:@screen-sm){font-size: 22px;
        padding: 0 0 0 30px;}
        @media (min-width:@screen-md){font-size: 26px;}
        li{
          .gd-search-box,.gd-search-box2{
            margin: 0 0 30px;
            padding: 0;
            display: block;
            .body-text;
            font-family: @font-family-sans-serif;
            h4{
              margin: 0;
             a{
              display: block;
             color: @brand-golden;
              margin-bottom: 5px;
              &:hover{
               color: @gray;
               text-decoration: none;
                 }
                &:focus, &:active{
               color: @brand-golden;
               text-decoration: none;
               }
              }
            }
          }
          .gd-search-box{
            @media (min-width:@screen-sm){
            border-bottom: solid 1px #dedede;
            margin: 0 0 30px;
            padding: 0 0 30px;
            h5{
              padding-top: 10px;
              float:right; 
            }
              p{
                width: 80%;
              }
            }
          
          }
          .gd-search-box2{
            margin-top: -30px;
            padding: 20px;
            border: solid 1px #dedede;
            img{
              width: 30%;
              margin: 0 0 10px ;
              @media (min-width:@screen-sm){
                width: auto;
               float: left;
                margin:0  30px 0 0;
              }
            }
            h4{
              margin: 0;
             a{
              margin-bottom: 20px;
             }}
            h5{ 
              color: @brand-golden;
              margin-bottom: 23px;
            }
          }
          .icomoon-location2,.icomoon-phone{
               color: @brand-golden;
          }
          .gd-search-link-brief{
            display: inline-block;
              margin: 10px 0  30px  0;
               color: @gray;
               vertical-align: middle;
             .icomoon-chevron-small-right{
              display: inline-block;
              padding-bottom: 3px;
               font-size: 20px;
               vertical-align:middle;
             }
              &:hover{
               color: @brand-golden;
               text-decoration: none;
                 }
                &:focus, &:active{
               color: @brand-golden;
               text-decoration: none;
               }
            
            @media (min-width:@screen-sm){
                margin: 20px 0 0;
            }
          }
        }
      }
      
    }
  }
}

@-moz-document url-prefix() {
 .t32 .gd-search .gd-search-body ol li .gd-search-box2{  margin-top: 0;} 
}

.t6{
.body-text;
  .gd-error{
   margin: 50px 0;}
  .gd-carousel-info{
   margin-top: 80px;
  }
}
.t17{
  .body-text;
  .gd-brief{
    margin: 80px 0 80px;}
  .gd-promotion-block-area{
   margin-bottom: 30px; 
  }
  .gd-promotion-listarea{
     margin:0 0 80px;
    > a{
      display: block;
      color: @brand-golden;
      margin-top: 15px;
  .icomoon-chevron-small-right{
    display: inline-block;
    padding-bottom: 3px;
    margin-left: 5px;
    font-size: 20px;
    vertical-align:middle;
  }
    }
    .gd-promotion-list{
      margin-top: 15px;
      position: relative;
      .gd-artist-control-l{ left: -25px;}
      .gd-artist-control-r{ right:  -25px;}
      img{
        width: 100%;
      }
    }
  }
  .gd-promotion-block,.gd-promotion-block2{
    width: 100%;
    .gd-promotion-block-img{
      z-index: 0;
      height: 200px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    .gd-promotion-block-text{
      position: relative;
      z-index: 1;
     width: 100%;
      padding: 20px 5%;
      vertical-align: middle;
      background-color: #f6f6f6;
      &:after{
        content: "";
          position: absolute;
          top: -10px;
          left: 50%;
          margin-left: -5px;
border-left: 10px solid transparent; 
border-right: 10px solid transparent; 
border-bottom: 10px solid #f6f6f6;  
        }
      .gd-button{
       margin-top: 5px;
      }
    }
  }
}
@media (min-width:@screen-sm){
  .t17{
  .gd-promotion-block-area{
   margin-bottom: 80px; 
  }
  .gd-promotion-block,.gd-promotion-block2{
    width: 100%;
    height: 425px;
    position: relative;
    .gd-promotion-block-img{
      z-index: 0;
      width: 50%;
        position: absolute;
        top: 0;
        left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    height: 425px;
    }
    .gd-promotion-block-text{
      position: relative;
      z-index: 1;
      width: 50%;
      margin-left: 50%;
      padding: 20px 5%;
      background-color: #f6f6f6;
      height: 425px;
      display: table;
      &:after{
        content: "";
          position: absolute;
          left: -17px;
          top: 50%;
          margin-top: -17px;
border-top: 18px solid transparent; 
border-bottom: 18px solid transparent; 
border-right: 18px solid #f6f6f6;  
        }
      .gd-button{
       margin-top: 20px;
      }
      .gd-promotion-block-textarea{
       display: table-cell;
      vertical-align: middle;
      }
    }
  }
    
    .gd-promotion-block2{
      .gd-promotion-block-img{
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
      }
    .gd-promotion-block-text { 
      width: 50%;
      margin-right: 50%;
      margin-left: 0;
      &:after{
        left: auto;
          right: -17px;
          margin-top: -17px;
       border-top: 18px solid transparent; 
       border-bottom: 18px solid transparent; 
       border-left: 18px solid #f6f6f6; 
       border-right: none;   
  }
   
    }
    
    }
  }
}

@media (min-width:@screen-md){
  .t17{
  .gd-promotion-listarea{
     margin:0 0 80px;
   > a{ cursor: pointer;
      margin-top: 25px;}
    .gd-promotion-list{
      margin-top: 25px;
      position: relative;
      .gd-artist-control-l{ left: -30px;}
      .gd-artist-control-r{ right: -30px;}
      img{
        width: 100%;
      }
    }
  }
  }
}

.t37{
  .body-text; 
  h3{
      line-height: 1.5;
       margin-bottom: 10px;
     }
        h5{
         color: @gray;
          margin-bottom: 10px;
        }
        p{
          line-height: 2;
         }
  .gd-magazine-info{
    .row{
      .col-sm-6{
        img{
         width: 100%; 
       }
      }
    }
  }
  .gd-promotion-box-area{
    .gd-promo-more{
     margin-top: 30px;
    }
  }
}
@media (min-width:@screen-sm){
  .t37{
  h3{
      line-height: 1.5;
       margin-bottom: 20px;
     }
        h5{
          margin-bottom: 20px;
        }
  .gd-magazine-info{
    .row{
      display: table;
      .col-sm-6{
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        float: none !important;
      .gd-magazine-info-text{
       
    }
      }
    }
  }
    
  .gd-promotion-box-area{
    .gd-promo-more{
     margin-top: 50px;
    }
  }
  }
  
}

.t36{
  .gd-promotion-box-area{
    padding-bottom: 60px;
    margin-top: 80px;
    border-bottom: solid 1px #ccc;
    &:last-child{
     border-bottom:none;
    }
    .gd-promotion-box{
      margin-top: 20px;
      h4{
       margin:30px 0 15px;
      }
    }
  }
  .gd-slick-slider {
    padding-top: 20px;
  }
}
.t23{
   .container .row .pull-right,.container .row .pull-left{
     float: none !important;
    }
  .gd-styor-block{
   margin: 30px 0 80px;
    .gd-content-auto-width{
     width: auto;
      margin: 0 auto;
    }
  }
  .gd-content-details{
    margin-bottom: 30px;
    p{
     margin-bottom: 20px;
    }
      .col-sm-6 img, .col-sm-4 img{
      border: solid 1px #e9e9e9;
          margin: 10px 0 ;
      width: 100%;
        }
    .gd-content-details-heading{
      position: relative;
        margin-bottom: 25px;
    h5{
      margin-top: 0;
     float: none;
    }
    }
  }
  .gd-relate{
   margin: 30px 0;
    h3{
     margin: 0 0 30px;
    }
    h4{
     margin: 0 0 5px;
    .primary-text2;
    }
    h5{
     color: @gray-light;
    }
    .col-sm-6{
      margin-bottom: 30px;
      img{
       float: left; 
        width: 40%; 
        margin-right: 20px;
      }
    }
    .col-sm-4{
      border-top: solid 1px #e9e9e9;
      padding-top: 30px;
    }
  }
}

@media (min-width:@screen-sm){
  .t23{
    .container .row .pull-right{
     float: right !important;
    }   
    .container .row .pull-left{
     float: left !important;
    }
   .gd-content-details{
    h5{
     float: right;
      margin-top: -45px;
      padding-bottom: 0;
    }
    .col-sm-6 img{ 
      margin: 30px 0 50px;
    }
      
    .gd-content-details-heading{
        margin-bottom: 25px;
        padding: 0 0 25px;
        position: relative;
      &:after {
          bottom: 0;
          border-top: 1px solid @gd-title-color;
          content: " ";
          height: 0;
          left: 0;
          margin: 0;
          position: absolute;
          right: 0;
          width: 30px;
        }
      h5{
        margin-top: 0;
         float: none;
      }
    }
  }
        
    .gd-relate{
     margin: 50px 0 0;
      h3{
       margin: 0 0 30px;
      }
      .col-sm-4{
        border-top: none;
        border-left: solid 1px #e9e9e9;
        padding-top: 0;
        .gd-relate-brand{
         padding-left: 20px;
        }
      }
    }
  }
}

.t3 {
  .gd-promo-body {
    margin: 0 -15px 15px -15px;
    .gd-promo-box {
      margin-right: 0;
      min-width: 200px;
      padding: 0 15px;
      width: 33%;
      a {
        display: block;
      }
    }
    @media (max-width: @screen-sm-min) {
      .gd-promo-box {
        width: 100%;
      }
    }
  }
  .navigation {
    margin: 50px 0;
    text-align: center;
  }
}


.t15 {
  .gd-promo-body {
    margin: 0 -15px;

    .gd-promo-box {
      margin-right: 0;
      padding-left: 15px;
      padding-right: 15px;
      width: 25%;
    }

    @media (max-width: @screen-sm-min) {
      .gd-promo-box {
        width: 50%;
      }
    }
  }
}




































