/* CSS Document */
@import "bootstrap.less";
@import "css3.less";


//berthold akzidenz font
@font-face {
  font-family: 'berthold akzidenz';
  src: url('@{icon-font-path}@{web-font-name}.eot');
  src: url('@{icon-font-path}@{web-font-name}.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}@{web-font-name}.woff') format('woff'),
       url('@{icon-font-path}@{web-font-name}.ttf') format('truetype'),
       url('@{icon-font-path}@{web-font-name}.svg#@{web-font-svg-id}') format('svg');
}
// page classes

@import "sprite.less";
@import "header.less";
@import "footer.less";
@import "menu.less";
@import "icon.less";
@import "t1.less";
@import "t11.less";
@import "t13.less";
@import "components.less";
@import "pagespecific.less";

@media (min-width: @grid-float-breakpoint)  {
  body, .site-header {
    max-width: 1920px;
    margin: 0 auto;
  }
}
//common

.body-text{
  font-size: 13px;
  color: @gd-text-color;
  @media (min-width: @screen-sm) {
    font-size: 12px;}
  @media (min-width: @screen-md) {
    font-size: 14px;}

}

.gray-text{
      color: @gray;
 a {
      color: @gray;
    &:hover{
        color: @white;
        text-decoration: none;
    }
    &:focus, &:active{
        color:  @white;
        text-decoration: none;
    }
}

}
.gray-text2{
      color: @gray;
 a {
      color: @gray;
    &:hover{
        color: #666;
        text-decoration: none;
    }
    &:focus, &:active{
        color:  @white;
        text-decoration: none;
    }
}

}

.gray-text3{
      color: @gray;
 a {
      color: @gray;
    &:hover{
        color: @white;
        text-decoration: none;
    }
    &:active{
        color:  @gray;
        text-decoration: none;
    }
}

}

.gray-text4{
      color: @gray;
 a {
      color: @gray;
    &:hover{
        color:@brand-primary;
        text-decoration: none;
    }
    &:active{
        color: @brand-primary;
        text-decoration: none;
    }
}

}
.black-text{
      color: #222;
 a {
   cursor: pointer;
      color: #222;
    &:hover{
        color:  @brand-primary;
        text-decoration: none;
    }
    &:focus, &:active{
        color:  @white;
        text-decoration: none;
    }
}

}

.black-text2{
      color: #222;
 a {
   cursor: pointer;
      color: #222;
    &:hover{
        color:   @brand-golden;
        text-decoration: none;
    }
    &:focus, &:active{
        color:   @brand-golden;
        text-decoration: none;
    }
}

}
.lightgray-text{
      color: @gray-light;
 a {
   cursor: pointer;
      color: @gray-light;
    &:hover{
        color:  @brand-primary;
        text-decoration: none;
    }
    &:focus, &:active{
        color:  @white;
        text-decoration: none;
    }
}

}
.lightgray-text2{
      color: @gray-light;
 a {
   cursor: pointer;
      color: @gray-light;
    &:hover{
        color: @brand-golden;
        text-decoration: none;
    }
    &:focus, &:active{
        color: @brand-golden;
        text-decoration: none;
    }
}

}
.lightergray-text{
      color: #999;
 a {
   cursor: pointer;
      color: @gray-light;
    &:hover{
        color:  @brand-primary;
        text-decoration: none;
    }
    &:focus, &:active{
        color:  @brand-primary;
        text-decoration: none;
    }
}

}
.gray-text-line{
      color: @gray;
 a {
      color: @gray;
        text-decoration: underline;
    &:hover{
        color: @white;
        text-decoration: underline;
    }
}

}

.white-text{
      color: @white;
  a{
      color: @white;
    &:hover{
        color: @gray;
        text-decoration: none;
    }
    &:focus, &:active{
        color: @brand-primary;
        text-decoration: none;
    }
}
}

.primary-text{
      color: @brand-primary;
  a{
      color: @brand-primary;
    &:hover{
        color: @white;
        text-decoration: none;
    }
    &:focus, &:active{
        color: @brand-primary;
        text-decoration: none;
    }
}
}

.primary-text2{
      color: @brand-golden;
  a{
      color: @brand-golden;
    &:hover{
        color: @gray;
        text-decoration: none;
    }
    &:focus, &:active{
        color: @brand-golden;
        text-decoration: none;
    }
}
}
// back to top button
  .back-top{
    background-color: #FFFFFF;
    font-weight: bold;
    height: 0;
    position: relative;
    z-index: 1100;

    .back-to-top {
      position: fixed;
      &.bottom {
        position: absolute;
      bottom: -50px;
      }
      &.active {
        opacity: 1;
      }

      font-weight: bold;
      right: 0;
      bottom: 0;
      background-color:#444444;
      background-color: rgba(0,0,0,0.5);
      display: none;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      .white-text;
      font-size: 0.75em;
      text-decoration: none;
      z-index: 100;
    }
  }
@media (min-width: @screen-sm) {
 .back-top{
    background-color: #FFFFFF;
    font-weight: bold;
    height: 90px;
    position: relative;
    z-index: 1100;

    .back-to-top {
      position: fixed;
      &.bottom {
        position: absolute;
        bottom: 2em;
      }
      &.active {
        opacity: 1;
      }

      font-weight: bold;
      right: 2em;
      bottom: 2em;
      background-color:#444444;
      background-color: rgba(0,0,0,0.5);
      border: 1px solid #444444;
      display: none;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      .white-text;
      font-size: 0.75em;
      text-decoration: none;
      z-index: 100;
    }
  }
}
.form-goto {
  .dropdown-toggle {
    background-color: @white;
    border-color: @gray-darker2;
    color: @gray-darker2;
  }
  button[type=submit] {
    border-color: @gray-darker2;
    color: @gray-darker2;
    &:hover, &:focus, &:active {
      border-color: @gray-darker2;
      background-color: @gray-darker2;
      color: @white;
    }
  }
}

/*@media (min-width: @screen-sm) { 
   .back-top{
    position: relative;
    width: 100%;
    padding: 15px 30px;
    min-height: 90px;
    text-align: right;
  .back-to-top{
    position: relative;
    float: right;
    top: auto;
    bottom: auto;
    right: auto;
    background-color:#444444;
    border: solid 1px #1d1d1d;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    .white-text;
    font-size: 0.916em;
    text-decoration: none;
    &:hover{
      color: #999;
      background-color: #333;
      border: solid 1px #555;
      
    }
  }
  }
}*/
  .page-header{
   padding:45px 10px 0;
    border: none; 
    background: #1F1F1F;
    .gray-text; 
    
    .breadcrumb{
     vertical-align: middle;
    .icomoon-chevron-small-right{
      margin-left: 6px;
      display: inline-block;
          padding-bottom: 3px;
          font-size: 20px;
          vertical-align:middle;
    }
    }
    .header-share{
     text-align: right;
      line-height: 30px;
      a{
        margin: 0 0 0 11px;
        font-size: 1.33em;
    vertical-align: middle;
       }
    }
  }


@media (min-width: @screen-sm) { 
  .page-header{
   padding:50px 0 0;
    .header-share{
      font-size: 0.916em;
      a{
        font-size: 1.27em;
       }
    }
  }
}
@media (min-width: @grid-float-breakpoint) { 
  
  .page-header{
   padding:165px 0 0;
    .header-share{
      a{
        font-size: 1.46em;
      }
    }
  }
}
  .page-title{
   // background: @gray-darker2;
  h2{
    text-align: left;
    font-family: @font-family-serif;
    width: 100%;
    margin: 0;
    font-size: 2.5em;
    line-height: 5;
    color: @brand-golden;
    span{
    font-family: @font-family-sans-serif;
    font-size: 0.5em;
      margin-left: 10px;
      .gray-text;
    
    }
  }
    .link-seeall{
      line-height: 150px;
      position: absolute;
      right: 0;
      .gray-text;
       font-size: 0.916em;
       text-align: right;
        .icomoon-chevron-small-right{
        margin-left: 9px;
        vertical-align: middle;
        }
    }
  }

@media (min-width: @screen-sm) {   
  .page-title{
   padding:0;
    
  h2{
    font-size: 2em;
    span{
    font-size: 0.46em;
    }
  }
    .link-seeall{
      position: relative;
      right: auto;
      
        .icomoon-chevron-small-right{
        margin-left:9px;
        }
    }
  }

}
@media (min-width: @grid-float-breakpoint) { 

  .page-title{
   padding:0;
  h2{
    font-size: 2.5em;
    display: inline-block;
    span{
    font-size: 0.46666667em;
    }
  }
    .link-seeall{
       font-size: 1em;
        .sprite-small-r{
        margin-left: 14px;
        }
    }
  }
}

@media (min-width: @screen-sm) and (max-width:@screen-sm-max) { 
.t1,.t11,.t13{ 
    .container,.container2{
      padding-left: 15px;
      padding-right: 15px;
    .col-sm-4{
      width: 33.33333333%;
      float: left;
    }
      .visible-xs-block{
        display: none !important;
      }
      .hidden-xs {
      display: table-cell !important;
}
    }

}}

// page freeze, disable page scroll
.page-freeze {
  height: 100%;
  overflow: hidden;
}

.lazy-hidden {
  background: url('/files/landmark/images/more.gif') no-repeat 50% 50%;
  display: block;
  max-width: 100%;
  min-height: 50px;
  margin: 0 auto;
  opacity: 0;
}
.lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

input[type="checkbox"]{ 
  -webkit-appearance: checkbox;
  box-sizing: border-box;
}

// jQuery plugin dotdotdot
.gd-longarticle>.gd-longarticle-switcher {
  display: none;
}
.is-truncated {
  height: auto!important;
}
.gd-carousel-detail .is-truncated {
  height: 80px!important;
}
.is-truncated .gd-longarticle-switcher {
  display: inline-block;
}

// jQuery plugin scrollbar
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #D4A962!important;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important;
}

#infscr-loading {
  font-size: 12px;
  text-align: center;
  > div {
    display: inline-block;
    line-height: 20px;
    padding-left: 5px;
    em {
      color: @brand-golden;
      font-size: 12px;
      font-style: normal;
    }
  }
}

