@using Landmark.Classes
@using Sitecore.Data.Items
@model RenderingModel

@{
    var homePage = ItemGuids.LandmarkHomeItem;
    var currentPage = Sitecore.Context.Item;
    var currentId = currentPage.ID;
    List<Item> items = new List<Item>();
    while (currentPage.ID != homePage.ID)
    {
        items.Add(currentPage);
        currentPage = currentPage.Parent;
    }
    items.Add(homePage);
    items.Reverse();
}

<ol class="breadcrumb">
    @foreach (var item in items)
    {
        if (item.ID != currentId)
        {
            <li>
                <a href="@Sitecore.Links.LinkManager.GetItemUrl(item)">
                    @if (item.ID == homePage.ID)
                    {
                        <text>Home</text>
                    }
                    else
                    {
                        <text>@item["Page Title"]</text>
                    }
                    <span class="icomoon-chevron-small-right"></span>
                </a>
            </li>
        }
        else
        {
            <li class="active">@item["Page Title"]</li>
        }
    }
</ol>
