@model RenderingModel
@using Landmark.Classes

@{
    var footerList = ItemGuids.FooterNavigationItem.Children.ToList();
}
<ul>
    @foreach (var item in footerList)
    {
        <li>@Html.Sitecore().Field("Link URL", item, new { text = item["Link Text"] })</li>
    }
</ul>
