@model RenderingModel
@using Landmark.Helper
@{
    string src = Html.Sitecore().ImageFieldSrc("Hongkong Land Image", Model.Item);
}
<div class="container">
    <div class="row">
        <div class="footer-logo">
            @*<a href=""><img data-src="/files/landmark/images/logo-footer.png" alt="HongKong Land"></a>*@
            @Html.Sitecore().Field("Hongkong Land Link", Model.Item, new { text = "<img data-src='" + src + "' alt='HongKong Land'>" })
        </div>
        <div class="footer-copyright">
            @*&copy; Copyright &copy; 2014 Hongkong Land Limited. All Rights Reserved*@
            @Html.Sitecore().Field("Copyright Text")<a href="#">Legal &amp; Privacy</a>
        </div>
    </div>
</div>