@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel

<div id="gd-carousel-mainimage" class="carousel slide gd-carousel-info gd-mainimage" data-ride="carousel">
   @Html.Sitecore().Placeholder("slide-objects")
</div>

<div class="container">

    <div class="gd-brief">
        <div class="gd-brief-heading">
            <h2>Drawing from a rich heritage which began in 1904</h2>
        </div>
        <div class="gd-brief-body gd-col-2">
            <p>
                LANDMARK today is the luxury shopping destination of Hongkong Land’s Central portfolio including 4 iconic buildings, LANDMARK ATRIUM, LANDMARK ALEXANDRA, LANDMARK CHATER and LANDMARK PRINCE’S. LANDMARK offers approximately 208 of the finest stores and  restaurants which are all seamlessly linked by pedestrian bridges.
                From high fashion and accessories to watches and jewellery, from luxury living to beauty and grooming, from international cuisine to authentic gourmet dining, LANDMARK brings the ultimate shopping experience to the discerning customers.
            </p>
        </div>
    </div>
    <div class="gd-brief">
        <div class="gd-brief-heading">
            <h2>ONE LANDMARK</h2>
        </div>
        <div class="gd-brief-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="gd-carousel-info" class="carousel slide gd-carousel-info" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carousel-image" data-bgsrc="../files/landmark/images/example1.jpg"></div>
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <div class="gd-carousel-detail">
                            <h3>4 buildings 1 name</h3>
                            <p>A setting in the heart of the city since 1904; a curation of the world's exclusive brands. All part of 208 fine stores and restaurants in 4 connected buildings that go by 1 name, LANDMARK.</p>
                            <button class="gd-button gd-button-white" type="button">DISCOVER MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="carousel-image" data-bgsrc="../files/landmark/images/about/about-article-01.jpg"></div>
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <div class="gd-carousel-detail">
                            <h3>Lorem ipsum dolor</h3>
                            <p>Lorem ipsum dolor sit amet. Necessitatibus dolorum corrupti perferendis, eos iure sit neque tenetur saepe!</p>
                            <button class="gd-button gd-button-white" type="button">DISCOVER MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="carousel-image" data-bgsrc="../files/landmark/images/example1.jpg"></div>
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <div class="gd-carousel-detail">
                            <h3>Lorem ipsum dolor</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eos saepe temporibus architecto magni neque eaque consequatur nesciunt harum laudantium saepe temporibus architecto magni neque eaque!</p>
                            <button class="gd-button gd-button-white" type="button">DISCOVER MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wrapper for controls -->
        <div class="carousel-footer">
            <div class="gd-carousel-controls clearfix">
                <!-- Controls -->
                <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="prev">
                    <span class="icomoon-thin-arrow-L" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <!-- Indicators -->
                <ol class="carousel-indicators gd-carousel-control gd-carousel-no">
                    <li data-target="#gd-carousel-info" data-slide-to="0" class="active">1</li>
                    <li data-target="#gd-carousel-info" data-slide-to="1">2</li>
                    <li data-target="#gd-carousel-info" data-slide-to="2">3</li>
                </ol>
                <span class="gd-carousel-control gd-carousel-no">
                    /
                </span>
                <span class="gd-carousel-control gd-carousel-no">
                    3
                </span>
                <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="next">
                    <span class="icomoon-thin-arrow-R" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>