@using Landmark.Classes
@model RenderingModel

<h2>@Html.Sitecore().Field("About Title")</h2>
<p>@Html.Sitecore().Field("About Description") </p>
<a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.T35GetDirectionPage))" class="gd-link-brief">
    @Html.Sitecore().Field("Getting Here Text") <span class="icomoon-chevron-small-right"></span>
</a>