@model RenderingModel

<h1>@Html.Sitecore().Field("About Title")</h1>
<p>@Html.Sitecore().Field("About Description") </p>
<a href="/en/t35.html" class="gd-link-brief">
    @Html.Sitecore().Field("Getting Here Text") <span class="icomoon-chevron-small-right"></span>
</a>